include ../mixins

+confirmPopover('danger', 'Confirm Request Denial', 'Are you sure you want to deny this seat request?', 'respond("Denied", response)')
    textarea.form-control(ng-model='response', placeholder='Please type a reason for the denial.')