include ../__mixins

+confirmPopover('danger', 'Confirm Request Denail', 'Are you sure you want to deny this seat request?', 'deny')
    textarea.form-control(ng-bind='response', placeholder='Please type a reason for the denial.')