include ../mixins

+confirmPopover('success', 'Confirm Request Approval', 'Are you sure you want to approve this request?','respond("Approved", response)')
    textarea.form-control(ng-model='response', placeholder='Comments to the requesting unit.')