
.modal .fc-event {
    opacity: .7;
}

.fc-event {
    color: #000;
}

.fc-event.primary {
    color: #428bca;
    background-color: #428bca;
    border-color: #428bca;
}

.fc-event.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #46b8da;
}

.fc-event.success {
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #4cae4c;

}

.fc-event.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-color: #eea236;
}

.fc-event.danger {
    backround-color: #f2dede;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.modal .fc-event.success {
    text-align: center;
    font-size: 1.25em;
}

.addEvent .fc-day-number:hover {
    cursor: pointer;
    margin-top: -.25em;
    padding: 0;
    color: #4cae4c !important;
    font-size: 4.75em;
    top: 0;
    right: 0;
    z-index: 999;
    line-height: .85em;
}

.fc-time-grid-container {
    display: none
}

.wrapped .fc {
    margin-top: 5px;
}

.wrapped .fc-axis:first-child {
    display: none;
}

.wrapped.addNew .fc-toolbar .fc-right {
    margin-right: 40px;
}