.fc-resizer {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    height: 100%;
    width: 15px !important;
    background: #3c763d;
}

.fc-resizer:hover {
    background: #428bca;
}

.fc-scroller {
    height: auto !important;
    overflow: visible !important;
}

.fc-widget-header {
    margin-right: 0 !important;
}

.modal .fc-event {
    opacity: .7;
}

.fc-event {
    color: #000;
}

.fc-event.primary {
    color: #428bca;
    background-color: #428bca;
    border-color: #428bca;
}

.fc-event.info {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #46b8da;
}

.fc-event.success {
    background-color: #dff0d8;
    color: #3c763d;
    border-color: #4cae4c;

}

.fc-event.warning {
    background-color: #fcf8e3;
    color: #8a6d3b;
    border-color: #eea236;
}

.fc-event.danger {
    backround-color: #f2dede;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.modal .fc-event.success {
    text-align: center;
    font-size: 1.25em;
}

.modal .fc-toolbar h2 {
    font-size: 1.2em;
}

.addEvent .fc-day-number {
    transition: ease 250ms all 300ms;
}

.addEvent .fc-day-number:hover {
    cursor: pointer;
    margin-top: -.5em;
    padding: 0;
    color: #4cae4c !important;
    font-size: 4.75em;
    top: 0;
    right: 0;
    z-index: 999;
}

.fc-time-grid-container {
    display: none
}

.wrapped .fc {
    margin-top: 5px;
}

.wrapped .fc-axis:first-child {
    display: none;
}

.wrapped.addNew .fc-toolbar .fc-right {
    margin-right: 40px;
}

.wrapped .fc-view-container {
    min-height: 75px;
}

.fc-week.fc-widget-content {
    height: auto !important;
}

/*

 Resource view

*/
#resourceView {
    width: 100%;
    overflow: hidden;
}

#resourceView .event td {
    height: 35px;
}

#resourceView .spacer td {
    border-right: none !important;
    padding: 5px;
}

#resourceView th {
    text-align: center;
}

#resourceView th.weekend {
    font-weight: 300 !important;
}

#resourceView .weekend:not(.mark) {
    border-left: none !important;
    border-right: none !important;
    padding: 0px;
    color: #eee;
    background-color: #eee;
}

#resourceView .event .mark {
    background-color: #4cae4c;
    border-left: 3px solid #555 !important;
    border-right: none !important;
    padding: 0px;
    cursor: pointer;
}

body.collapsed #resourceView .event .mark {
    background-color: #46b8da!important;
}

#resourceView .event .mark.warning {
    background-color: #46b8da;
}

#resourceView .event .mark.danger {
    background-color: #d9534f;
}

#resourceView .event .mark.short {
    background-color: #f0ad4e;
}

#resourceView .unavailable, #legend .unavailable {
    background-color: #aaa;
}

#resourceView tr.spacer td {
    height: 0;
    background-color: #fff !important;
}

#resourceView tr td,
#resourceView .mark * {
    transition: ease 250ms all 500ms;
}

#resourceView .mark .mask-img {
    z-index: 25;
    margin: 0px;
    width: 50px;
    height: 50px;
    position: absolute;
    margin-left: -10px;
    margin-top: -10px;
}

#resourceView .mark:hover {
    background-color: #333 !important;
}

#resourceView .mark:hover .mask-img {
    width: 100px;
    height: 100px;
    margin-top: -35px;
    margin-left: -85px;
    z-index: 50;
}

#resourceView .mark:hover span {
    letter-spacing: .1em;
}

#resourceView .mark .pds {
    font-weight: 800;
}

#resourceView .mark:Hover .pds {
    opacity: 0;
}

#resourceView .mark:hover .instructor {
    margin-left: 25px;
}

#resourceView .mark .details,
#resourceView .mark span {
    position: absolute;
}

#resourceView .mark span {
    margin-left: 50px;
    margin-top: 10px;
    color: #fff;
}

#resourceView .mark span.instructor {
    margin-left: 85px;
}

#resourceView .mark span.instructor i {
    font-weight: 700;
    font-style: normal;
}

#resourceView .mark .details {
    margin-left: 15px;
    margin-top: 34px;
    color: #333 !important;
    background-color: rgba(255, 255, 255, .9);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 600px;
    max-height: 0;
    overflow: hidden;
    transition: ease 250ms all;
    border: 1px solid transparent;
    z-index: 1;
}

#resourceView .mark .details .container {
    margin: 5px;
    width: 100%;
}

#resourceView .mark:hover .details {
    border: 1px solid #4cae4c;
    z-index: 999;
    max-height: 80%;
    transition: ease 250ms all 1s;
}

#resourceView .mark p {
    width: 95%;
    white-space: normal;
}

#resourceView .mark dt {
    width: 75px;
    font-weight: 400;
    font-style: italic;
}

#resourceView .mark dd {
    margin-left: 85px;
    font-weight: 700;
}

#resourceView .double {
    line-height: 1.85em;
    font-variant: small-caps;
}

body.collapsed #legend {
    display: none;
}

#legend {
    position: absolute;
    left: 0;
    top: 50px;
}

#legend div {
    width: 10px;
    height: 25px;
    margin-bottom: 3px;
    border-top-right-radius: 7px;
    border-bottom-right-radius: 7px;
}