.icon {
	display: inline-block;
	width: 1.35em;
	height: 1.25em;
	margin: .2em .3em -.2em;
	fill: #333;
	pointer-events: none !important;
}

.btn {
	.icon {
		margin: 0 -.25em -.45em;
	}
}

h4 .icon, .input-group-addon .icon {
	width: 1.5em;
}

.white.icon, .white .icon {
	fill: #fff !important;
}

.icon.af_logo {
	margin-left: 0;
	width: 2.5em;
	height: 2em;
}

.row:hover .invert .icon, tr:hover .btn .icon, .invertSimple .icon {
	fill: #fff !important;
}

.frozen {
	.icon {
		fill: #428bca !important;
	}
}

#spinner {
	position: absolute;
	top: 48%;
	margin: 0 auto 0;
	left: 0;
	right: 0;
	visibility: hidden;
	transition-delay: 100ms;
	transition: visiblity 1s, opacity 1s ease;
	opacity: 0;
}

.wait {
	#spinner {
		visibility: visible;
		transition: opacity 300ms linear;
		opacity: 1;
	}
}

.spinner {
	margin: 0 auto 0;
	width: 70px;
	text-align: center;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: bouncedelay 1.4s infinite ease-in-out;
	animation: bouncedelay 1.4s infinite ease-in-out;
	/* Prevent first frame from flickering when animation starts */
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0.0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes bouncedelay {
	0%, 80%, 100% {
		transform: scale(0.0);
		-webkit-transform: scale(0.0);
	}
	40% {
		transform: scale(1.0);
		-webkit-transform: scale(1.0);
	}
}