include ../__mixins

form.form-horizontal(name='modal')

    .modal-header.caps
        h3
            +icon('plus-circle')
            | {{data.Course.Number}} Seat Request

    #requestSeats.modal-body

        p.lead
            ng-pluralize(count='data.openSeats - data.Students_JSON.length',
                            when='{1:"There is only one seat ", 0: "There are no more seats ", "other":"There are {} seats "}')
            | available for the {{data.start}} class.
        br

        div(explain='request-seats-students', right)
            h4
                +icon('student_hand')
                | Requested Student(s)
            select(selectize, bind='Students_JSON', multiple, max='{{data.openSeats}}', create)

        br

        div(explain='request-seats-comments', right)
            h4
                +icon('edit')
                | Request Comments
            textarea.form-control.animate(ng-model='comments')

        br

        h4.pull-right(ng-show='data.Students_JSON.length > 0')
            +icon('info-circle')
            | You are requesting
            b(ng-pluralize, count='data.Students_JSON.length', when='{1:" one seat","other":" {} seats"}') .

        .clearfix

    +modalFooter()

