#courseLink {
	border-bottom: 1px dotted;
}

#courseLink:hover {
	border-bottom: 1px solid;
}

#modalScheduledOpenSeats {
	float: right;
	text-align: right;
	font-style: italic;
	line-height: 2.5em;
}

#scheduled-ftd .setUnavailable .hideSetUnavailable,
#scheduled-ftd .setUnavailable #rightPanel .nav {
	visibility: hidden;
}

#scheduled-ftd {
	.item {
		em {
			font-style: normal;
		}
		small {
			display: none;
		}
	}
}

input#ttms {
	position: absolute;
	width: 100px;
	top: 2.5%;
	right: 2.5%;
}

.noStudents {
	.nav {
		display: none;
	}
}

td#notes {
	white-space: normal;
	font-weight: normal;
	line-height: 1.5em;
}

.modal {
	#j4notes {
		margin-top: 6px;
		color: #c67417;
	}
}

.autoApprove {
	.well.archived {
		.btn.archiveExclude {
			display: inline-block !important;
		}
		.archiveExclude {
			display: block !important;
		}
	}
}

.nav#shortcuts {
	li {
		float: right;
		font-style: italic;
	}
	li:first-child {
		float: left;
		line-height: 3em;
		color: #aaa;
		font-style: normal;
	}
}
