#courseLink {
    border-bottom: 1px dotted;
}

#courseLink:hover {
    border-bottom: 1px solid;
}

#modalScheduledOpenSeats {
    float: right !important;
    width: 30% !important;
    text-align: right;
    font-style: italic;
    line-height: 2.5em;
    font-weight: 700;
}

#scheduled-ftd .setUnavailable .hideSetUnavailable,
#scheduled-ftd .setUnavailable .nav {
    display: none;
}

#scheduled-ftd .item em {
    font-style: normal;
}

#scheduled-ftd .item small {
    display: none;
}

input#ttms {
    position: absolute;
    width: 100px;
    top: 2.5%;
    right: 2.5%;
}

.noStudents .nav {
    display: none;
}

td#notes {
    white-space: normal;
    font-weight: normal;
    line-height: 1.5em;
}

.modal #j4notes {
    margin-top: 6px;
    color: #777;
}

.autoApprove .well.archived .btn.archiveExclude {
    display: inline-block !important;
}

.autoApprove .well.archived .archiveExclude {
    display: block !important;
}