#courseLink {
	border-bottom: 1px dotted;
}

#courseLink:hover {
	border-bottom: 1px solid;
}

#modalScheduledOpenSeats {
	text-align: right;
	font-style: italic;
}

#scheduled-ftd {

	.item:hover {

	}
	.item {
		em {
			font-style: normal;
		}
		small {
			display: none;
		}
	}

	.setUnavailable .hideSetUnavailable,
	.setUnavailable #rightPanel .nav {
		display: none;
	}

	.setUnavailable #instructorPhoto {
		margin-top: 0;
	}

	#courseSelector {

		.item right {
			display: none;
		}

		.selectize-dropdown {
			min-width: 750px;
		}

	}

	#cancelClass {
		position: absolute;
		bottom: 1em;
		left: 1em;
	}

	.modal-header {
		margin-left: 135px;

		#instructorPhoto {
			position: absolute;
			left: -10px;
			top: -10px;
			border-radius: 6px 6px 15% 6px;
			height: 145px;
			width: 150px;
			z-index: 99999;
		}

	}

	.modal-body {
		margin-top: 15px;

		#typeSelector {
			width: 250px;
			margin-left: 125px;
			margin-bottom: 1.25em;
			text-align: right;
		}

		#toggleWeekends {
			font-weight: 400 !important;
			color: #333 !important;
			border: 1px solid #999 !important;
			margin: 1px !important;
			position: absolute;
			right: 195px;
			top: 0px;
		}

		#toggleWeekends.active:before {
			font-size: 1.5em;
			line-height: .75em;
			content: '\2713\00a0';
		}

		#toggleWeekends:hover,
		#toggleWeekends.active {
			background-color: #eee;
		}

		.left-column, .middle-column, .right-column {
			float: left;
			padding-bottom: 25px;
			position: relative;
			min-height: 450px;
		}

		.left-column:hover,
		.middle-column:hover,
		.right-column:hover {
			opacity: 1 !important;
		}

		.left-column {
			width: 400px;
			margin-left: 15px;

			.left-row {
				width: 375px;
				margin-bottom: 1em;
			}

		}

		.middle-column {
			margin: 0 45px 0 20px;
			min-width: 400px;
		}

		.middle-column, .right-column {
			width: ~'calc(100% - 1000px)';
		}

		.right-column {
			width: 500px;
		}

	}

}

#scheduled {

	.wrapped:not(.hasArchived) .archiveOnly {
		display: none;
	}

	.popover.map {
		padding: 0;
		overflow: hidden;

		.popover-content {
			overflow: hidden;
			padding: 0;

			h4 {
				position: absolute;
				padding: 2%;
				background: rgba(255, 255, 255, .7);
				line-height: .8em;
			}

			img {
				width: 400px;
				height: 300px;
			}

		}

	}

	.openSeats {
		font-size: 2em;
		position: absolute;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		right: 89.5%;
		width: 6%;
		text-align: left;
	}

	.lead {
		font-weight: 500;
	}

	.row:hover {
		.hideDefault {
			opacity: 1 !important;
		}
	}

	#mainView .well {
		margin-left: 10%;
		width: 90%;
		height: 8.5em;
		border-top-left-radius: 0;
		position: relative;

		.mask-img {
			position: absolute;
			left: -30px;
			top: -8%
		}

		.requestActions {
			hr {
				margin-bottom: 10px;
				margin-top: 10px;
			}

			.pull-left {
				margin-top: .35em;

				.form-control {
					margin-left: 1em;
				}
			}
		}

		.notes {
			float: left;
			margin-top: -.25em;

			label {
				margin-bottom: 0;
			}
		}

		.double {
			font-weight: 600;
			top: 10px;

			.lightText {
				font-weight: 300;
			}
		}

		.hideDefault {
			opacity: 0;
		}

		.lightCourseNumber {
			font-size: 1.5em;
			font-weight: 100;
			letter-spacing: .1em;
			line-height: 1.8em;
		}

	}

	#resourceView {
		width: 100%;
		overflow-x: auto;
		overflow-y: visible;
		padding-left: 5%;
	}
}

input#ttms {
	position: absolute;
	width: 100px;
	top: 2.5%;
	right: 2.5%;
}

.noStudents {
	.nav {
		display: none;
	}
}

td#notes {
	white-space: normal;
	font-weight: normal;
	line-height: 1.5em;
}

.modal {
	#j4notes {
		margin-top: 6px;
		color: #c67417;
	}
}

.autoApprove {
	.well.archived {
		.btn.archiveExclude {
			display: inline-block !important;
		}
		.archiveExclude {
			display: block !important;
		}
	}
}

.nav#shortcuts {
	li {
		float: right;
		font-style: italic;
	}
	li:first-child {
		float: left;
		line-height: 3em;
		color: #aaa;
		font-style: normal;
	}
}
