#courseLink {
	border-bottom: 1px dotted;
}

#courseLink:hover {
	border-bottom: 1px solid;
}

#modalScheduledOpenSeats {
	float: right;
	text-align: right;
	font-style: italic;
	line-height: 2.5em;
}

#scheduled-ftd {
	.item {
		em {
			font-style: normal;
		}
		small {
			display: none;
		}
	}

	.setUnavailable .hideSetUnavailable,
	.setUnavailable #rightPanel .nav {

		display: none;
	}

	.setUnavailable #instructorPhoto {
		margin-top: 0;
	}

	#instructorPhoto {
		margin-top: 4.5em;
	}

	#courseSelector {

		.selectize-dropdown {
			min-width: 750px;
		}

	}

}

#scheduled {

	.openSeats {
		font-size: 2em;
		position: absolute;
		border-top-right-radius: 0;
		border-bottom-right-radius: 0;
		right: 89.5%;
		width: 4%;
	}

	.lead {
		font-weight: 500;
	}

	.row:hover {
		.lightCourseNumber {
			color: #333 !important;
		}
	}

	#mainView .well {
		margin-left: 10%;
		width: 90%;
		border-top-left-radius: 0;
		position: relative;

		.requestActions, .double {
			position: absolute;
			bottom: 15px;
			right: 10px;
			left: 185px;

			hr {
				margin-bottom: 10px;
				margin-top: 10px;
			}

		}

		.notes {
			min-height: 1.5em;
			margin-top: 2.5em;
			margin-bottom: 5em;
			font-style: italic;
		}

		.double {
			font-weight: 600;
			top: 10px;
			bottom: auto;

			.lightText {
				font-weight: 300;
			}
		}

		.lightCourseNumber {
			color: #bbb;
			font-size: 1.5em;
			font-weight: 100;
			letter-spacing: .1em;
			line-height: 1.8em;
		}

	}

	#resourceView {
		width: 100%;
		overflow-x: auto;
		overflow-y: visible;
		padding-left: 5%;
	}
}

input#ttms {
	position: absolute;
	width: 100px;
	top: 2.5%;
	right: 2.5%;
}

.noStudents {
	.nav {
		display: none;
	}
}

td#notes {
	white-space: normal;
	font-weight: normal;
	line-height: 1.5em;
}

.modal {
	#j4notes {
		margin-top: 6px;
		color: #c67417;
	}
}

.autoApprove {
	.well.archived {
		.btn.archiveExclude {
			display: inline-block !important;
		}
		.archiveExclude {
			display: block !important;
		}
	}
}

.nav#shortcuts {
	li {
		float: right;
		font-style: italic;
	}
	li:first-child {
		float: left;
		line-height: 3em;
		color: #aaa;
		font-style: normal;
	}
}
