include ../__mixins

div
    ul#dashboard-menu

        +link('home', 'home', 'Home')

        li.role: h4 Requirements
        +link('backlog', 'checklist2', 'Generate 898', 'role')
        +link('requirements', 'agree', '898 Response', 'role')

        li: h4 Classes
        +link('scheduled-ftd', 'calendar_range', 'Manage', 'role ftd scheduling curriculum')
        +link('ttms', 'hash', 'Need Class IDs', 'role scheduling')
        +link('requests', 'download', 'Seat Requests', 'role ftd')
        +link('catalog', 'books', 'Course Catalog')
        +link('scheduled', 'search', 'Search')

        li.role.mtf.ftd.scheduling: h4 Manage FTSS
        +link('manage-ftd', 'building-o', 'Manage FTD', 'role ftd')
        +link('hosts', 'puzzle-piece', 'Host Units', 'role mtf ftd')
        hr
        +link('admin', 'dollar', 'Admin Tools', 'role')