**/.DS_Store
nbproject
manifest.mf
build.xml

node_modules

.project
.settings
.idea/*

_public
Collaboration Docs
node_modules/*
npm-debug.log

test/test-results.xml


vendor/random.js

vendor/prefetch.js

app/assets/prefetch.js

app/assets/prefetch.min.js

coverage
coverage/*

app/scripts/helper.js
app/services/ng-sharepoint.js
bower_components/fullcalendar/dist/lang