.icon {
	display: inline-block;
	width: 32px;
	height: 32px;
	fill: currentColor;
}
.icon-rotate-left {
	/*fill: #333333;*/
	width: 35px;
}
.icon-approve {
	/*fill: #333333;*/
}
.icon-collapse {
	/*fill: #333333;*/
}
.icon-deny {
	/*fill: #333333;*/
}
.icon-expand {
	/*fill: #333333;*/
}
.icon-home {
	/*fill: #333333;*/
	width: 35px;
}
.icon-share {
	/*fill: #333333;*/
	width: 34px;
}
.icon-asterisk {
	/*fill: #333333;*/
}
.icon-tasks {
	/*fill: #333333;*/
}
.icon-send {
	/*fill: #333333;*/
}
.icon-insert {
	/*fill: #333333;*/
}
.icon-check {
	/*fill: #333333;*/
}
.icon-times {
	/*fill: #333333;*/
}
.icon-arrow-circle-o-down {
	/*fill: #333333;*/
}
.icon-arrow-circle-o-up {
	/*fill: #333333;*/
}
.icon-edit {
	/*fill: #333333;*/
	width: 36px;
}
.icon-check-square-o {
	/*fill: #333333;*/
}
.icon-arrows {
	/*fill: #333333;*/
}
.icon-plus-circle {
	/*fill: #333333;*/
}
.icon-minus-circle {
	/*fill: #333333;*/
}
.icon-times-circle {
	/*fill: #333333;*/
}
.icon-check-circle {
	/*fill: #333333;*/
}
.icon-question-circle {
	/*fill: #333333;*/
}
.icon-info-circle {
	/*fill: #333333;*/
}
.icon-times-circle-o {
	/*fill: #333333;*/
}
.icon-check-circle-o {
	/*fill: #333333;*/
}
.icon-arrow-left {
	/*fill: #333333;*/
}
.icon-arrow-right {
	/*fill: #333333;*/
}
.icon-arrow-up {
	/*fill: #333333;*/
}
.icon-arrow-down {
	/*fill: #333333;*/
}
.icon-exclamation-circle {
	/*fill: #333333;*/
}
.icon-warning {
	/*fill: #333333;*/
}
.icon-plane {
	/*fill: #333333;*/
}
.icon-phone {
	/*fill: #333333;*/
}
.icon-arrow-circle-left {
	/*fill: #333333;*/
}
.icon-arrow-circle-right {
	/*fill: #333333;*/
}
.icon-arrow-circle-up {
	/*fill: #333333;*/
}
.icon-arrow-circle-down {
	/*fill: #333333;*/
}
.icon-building-o {
	/*fill: #333333;*/
}
.icon-smile-o {
	/*fill: #333333;*/
}
.icon-frown-o {
	/*fill: #333333;*/
}
.icon-meh-o {
	/*fill: #333333;*/
}
.icon-puzzle-piece {
	/*fill: #333333;*/
}
.icon-dollar {
	/*fill: #333333;*/
}
.icon-arrow-circle-o-right {
	/*fill: #333333;*/
}
.icon-arrow-circle-o-left {
	/*fill: #333333;*/
}
.icon-sliders {
	/*fill: #333333;*/
}
.icon-af_logo {
	/*fill: #333333;*/
}
.icon-question {
	/*fill: #333333;*/
}
.icon-trash_hide {
	/*fill: #333333;*/
}
.icon-trash_show {
	/*fill: #333333;*/
}
.icon-student_hand {
	/*fill: #333333;*/
}
.icon-group {
	/*fill: #333333;*/
}
.icon-sort {
	/*fill: #333333;*/
}
.icon-instructor {
	/*fill: #333333;*/
}
.icon-calendar_range {
	/*fill: #333333;*/
}
.icon-checklist2 {
	/*fill: #333333;*/
}
.icon-graduate {
	/*fill: #333333;*/
}
.icon-location {
	/*fill: #333333;*/
}
.icon-flag {
	/*fill: #333333;*/
}
.icon-books {
	/*fill: #333333;*/
}
.icon-world {
	/*fill: #333333;*/
}
.icon-reset {
	/*fill: #333333;*/
}
.icon-agree {
	/*fill: #333333;*/
}
.icon-wait {
	/*fill: #333333;*/
}
.icon-hash {
	/*fill: #333333;*/
}
.icon-checklist {
	/*fill: #333333;*/
}
.icon-edit2 {
	/*fill: #333333;*/
}
.icon-search {
	/*fill: #333333;*/
}
.icon-graph_pie {
	/*fill: #333333;*/
}
.icon-instructor_wide {
	/*fill: #333333;*/
}
.icon-printer {
	/*fill: #333333;*/
}
.icon-upload {
	/*fill: #333333;*/
}
.icon-download {
	/*fill: #333333;*/
}
.icon-disk {
	/*fill: #333333;*/
}
