include ../../mixins

form(name='modal')

    .modal-header.caps: h3: +icon('student_hand', 'View Registered Students')

    .modal-body

        h4.italics This class has {{::data.allocatedSeats}} reserved seats.

        br

        table.table.table-split

            tbody

                tr(bs-popover='language.scheduled_seats_host', placement='right')
                    td Reserved Host Seats
                    td.text-center {{::data.Host}}

                tr(bs-popover='language.scheduled_seats_non_host', placement='right')
                    td Other Reserved Seats
                    td.text_center {{::data.Other}}

        +loadStudents()

    .modal-footer: .btn.btn-default(ng-click='close()') Continue