include ../../mixins

form(name='modal')

    .modal-header.caps: h3: +icon('student_hand', 'View Registered Students')

    .modal-body

        h4.italics This class has {{::data.Approved}} reserved seats.

        br

        +loadStudents()

    .modal-footer: .btn.btn-default(ng-click='close()') Continue