include ../../mixins

#language

    // Home Page =======================================================================================================
    #home_intro.
        FTSS provides a cradle-to-grave training requirements and scheduling workflow.  It is developed and maintained
        by the 982 TRG, Sheppard AFB, TX.  Please open the <a href='guide/intro.html' target='blank'>user guide</a> or
        contact the FTSS help desk for assistance:
        <a href='mailto:372trs.trg.ftss@us.af.mil?subject=FTSS%20Access%20Request'>982 TRG/FTSS</a>.

    // Misc

    #popover_priority This is a priority course.

    #topbar_share Share a link to this page

    #topbar_settings Update your preferences

    #topbar_help Ask questions and get support for this page

    #tagBox_button Click to begin this search

    // These are the top navigation area buttons & search boxes listed from left to right ==============================

    #record_count.
        Displays the record  count for your search.  If the background is <span style="color:#d58512;font_weight:800">orange</span>,
        then not all records are being shown due to a search you entered or because there were too many records found.

    #button_clear Clear this search

    #button_grouping Change how data is grouped

    #button_sorting Change how data is sorted

    #button_alternate_view Toggle alternate view of data

    #button_archive Toggle visibility of archived data

    // Generate 898 Page ===============================================================================================

    #generate_898.
        This page shows the current backlog for a unit and enables you to generate an electronic 898. To get started,
        view a course, select the FTD you will request from (the closest available will be selected by default), and
        select the students who will take the course that month. As you select the students, a summary list on the
        right will display your draft 898. Once your list is complete, click each FTD base header on the right side
        to confirm and submit each base 898 request for MTS  CC/Chief approval.

    #backlog_graph_view Click to toggle the backlog graphs & statistics for this unit.


    #modal_backlog.
        Verify the month of this request, courses, FTD and student names.  Once everything looks good, press "Verify"
        and then "Submit".

    #backlog_drag_drop.
        Click to import a AAA background product from IMDS; you can also just drag & drop the file or
        text onto this window or copy/paste straight from IMDS.

    #modal_aaa_eval.
        The text below was pulled from this AAA report to create the backlog.  You can use this to validate the parsed
        data within FTSS.  The second section lists all courses marked as Scheduled in IMDS or previously requested
        within FTSS but not updated.  This list is informational only.

    // Course Catalog Page =============================================================================================

    #catalog.
        From here you can view all courses loaded into FTSS. Hover over the course to view which units teach a particular course.
        For course editors, clicking the class will allow you to edit the data.  Additions and deletions will require admin rights.
        For everyone else, clicking on a class will search for open seats.

    #modal_catalog
        h4: b.text-center APPLICATION-WIDE CHANGE
        p.
            Editing the Course Catalog will affect all users of this course.  Please ensure you are aware of the
            implications of any changes before continuing.

    #catalog_pds The unique, short-code for this course

    #catalog_mds The airframe associated with this course

    #catalog_afsc The AFSC taught in this course.
        example 2A6X4

    #catalog_number Course Number
        example J4AMP2A6X4 A00A

    #catalog_imds (Optional) The IMDS course number used for 593 imports and searches by course number

    #catalog_title Course Title
        example A-10 Fuel Systems

    #catalog_days Total number of course days

    #catalog_hours Total number of course hours

    #catalog_min The minimum number of seats

    #catalog_max The maximum number of seats

    #catalog_priority A Check mark indicates this course is a priority course (listed on the MMCL). This is used for prioritizing 898 requirements.




    // Instructors Page ================================================================================================

    #instructors.
        Use this page to add, edit or archive instructors. Instructor bio photos and email can be added,
        but are not required.

    #add_instructor
       p Type the name and email (or AFNET account) of the user you want to add.  This is required for them to see this screen.
       .italics To add a bio photo, drag the image into this dialog box.

    #instructors_name Enter the users name as Rank First Last
        example SSgt Jane Doe or Mr. John Doe

    #instructors_email.
        Enter the member's AFNET email address or account id.  This is how we give access to the schedule/production data
        for other users in your FTD.  They will have read-only privileges, but will be able to see all data for this FTD.

    #instructors_photo (Optional) Drag and drop a photo here to add/update this instructor's photo




    // FTDs Page =======================================================================================================

    #units
        p Below you can update the courses taught and contact info for this detachment.  On the right you can edit/archive or view production data for assigned instructors.

        p To update a bio photo, drag and drop the photo onto the instructor's row.  You can also quickly check an instructor's production info by double-clicking on their photo or name.

        p.italics.bold.text-center ***You must refresh FTSS (press F5) after updating data on this page***

    #modal_units.
        Update FTD contact email and list of courses taught at the unit displayed above.
        An 898 cannot be generated or class built unless the course is first listed below.

    #units_email This email address will be used to send FTSS notifications to the FTD

    #units_phone The DSN phone number for your scheduling/production office

    #units_courses Add every course offered by your FTD here.  You can search by PDS, MDS, AFSC, Course Number, etc.

    #manage_ftd_no_instructors Add instructors by clicking the green button on the right.



    // Host Units Page =================================================================================================

    #hosts.
          Before a student can be added to FTSS (required for the 898 process), the host unit must be added.
          Use this page to add or edit hosts units (groups).  If the unit has a local FTD, be sure to add that
          to the unit as this is used for determining if this is a local or TDY request.

    #modal_hosts.
         You must add your Host Unit before you load students into FTSS. Host units should be no lower than the
         group level unless you are a detachment (eg 826 AMXS at Nellis AFB is detached from their group at Moody AFB).

    #hosts_name Ex: 461 MXG

    #hosts_ftd.
        Be sure to choose a local FTD only if your unit would not need to go TDY when attending that FTD.
        If you have no local FTDs, leave this cell blank.

    #hosts_email This email address will be used to send FTSS notifications to the unit

    #hosts_location Add zip code of unit




    // TTMS Page =================================================================================================


    #ttms.
        As a J4 Scheduler, this page will show you all scheduled classes that do not have a Class #.





    // Scheduled Page =================================================================================================


    #scheduled_no_classes_found
        +icon('frown-o')
        | Sorry, there doesn't seem to be any classes with openings that match your search.
        span.archiveOnly
            | &nsbp;However, there are some booked classes, click the
            +icon('trash_hide')
            | in the top-right to see them now.
        | &nbsp;To find out what units teach a course, use the course catalog on the left.

    #scheduled.
        This page allows you to search for scheduled classes and request seats if you have the correct roles. There
        will be a green "Request Seats" button if you are able, if you have problems, please contact the FTSS support
        team.

    #scheduled_ftd.
        This page is only visible to FTD personnel.  From this view you can view all current and future classes.  Scheduelers
        can use the the green on the right to build a class; click to edit or cancel a class. Once a class is built,
        it will be advertised on the class Search page AF-wide.

    #scheduled_seats_host These are seats reserved by the FTD for the host.

    #scheduled_seats_non_host These are seats reserved by the FTD for other units besides the host.

    #scheduled_seats_approved These are seat requests that have been approved by the FTD.

    #scheduled_seats_pending These are seats that are still pending FTD approval.

    #scheduled_edit_ts Type the Training Session course number

    #scheduled_edit_ftd Choose the FTD that is hosting this class

    #scheduled_edit_course Choose the course that is being scheduled

    #scheduled_edit_instructor Choose the instructor for this scheduled class or unavailability

    #scheduled_edit_location (Optional) Specify a room or building # for this class.  This data is only seen by your FTD.

    #scheduled_edit_dates Identify the class start and stop dates

    #scheduled_edit_notes (Optional) Type any special notes for this scheduled class

    #scheduled_edit_na_notes
        | (Optional) Type a description of the unavailability
        example Example: Leave local area or TDY to Paradise

    #scheduled_edit_reserved
        | Enter any previously-established seat reservations.  If you are not using FTSS for the 898 process, you will
        | want to put the number of seats you are building for this class here.

        example These numbers reflect reservations made outside of FTSS

    #scheduled_edit_hours_deviation.
        (Recommended but optional) For class length deviations, use this field to record the correct hours.
        This data is displayed on the Manage FTD  page that shows instructor utilization.

    #scheduled_request_host.
        Choose the unit name that the students are currently assigned to.  If the unit is not listed, it will need to be
        created on the Host Units page (you will need to have UTM, MTS or FTD rights to do so).

    #scheduled_request_students
        | Type last, first for each student to search the GAL.  If the student cannot be found, just type their rank
        | and fullname and click "Add ...".

        example Press enter or tab after each name to add it to the request.

    #scheduled_request_notes (Optional) Add any additional notes for this request.

    #scheduled_edit_ttms.
        Type or edit the TTMS class #.  Typically this is created by the J4 schedulers after the class is built.  You
        can create a new class with text in this field for it to not show up for J4 (center_gen).  Later, you can empty
        this text box for J4 to see it and generate the class #.

    #scheduled_unavailable.
        You can use this dialog to mark days you are not available to teach.  This will help your FTD build classes around
        your schedule.  First, click the day you will not be available to teach.  To create multi-day events, drag the
        dark-green box after clicking the first day.  To remove an entry, you will need to contact your FTD scheduler.

    // Seats Requests Page =================================================================================================

    #requests.
        This page allows the FTD to respond to seat requests.

    #edit_students View pending/approved seats.

    #load_ttms.
        Click to view the start/grad roster for this class.  <b>You'll need to be logged into TTMS already for this to work</b>,
        so make sure you click the TTMS link in the bottom_left corner or go to https://sm.ttms.us.af.mil in a different
        window first.

    #my_unit.
        This page lets you view current and past seat requests.  Eventually, you will be able to add new requirements here
        as well.  To view old seat requests, click the trash can icon in the top-right corner.  The view students button
        will show you all seat requests/responses for a given class (even from other units).


    #truncated_classes Some days of this class are not visible.


    // My-FTD page

    #my-ftd.
        With the exception of leave/TDY details, this page will give you the same calendar-based view that your FTD uses to plan and
        organize their teaching schedule.  For scheduled classes that haven't started yet, you can also use this page to fill seats.
        Use the blue button on the right to download a copy of this schedule.


