include ../../__mixins
include ../__scheduled-mixins

+addButton('Create Class')

.wrapped.addNew

    +userInstructions('scheduled-ftd', true)

    table#resourceView.table.table-bordered

        thead
            tr: th.month(ng-repeat='month in resourceMonths', colspan='{{month.colspan}}') {{month.month}}

            tr.days(ng-bind-html='resourceDays')

        tbody

            tr.event(ng-repeat-start='i in instructors', ng-bind-html='i.html|trust_html', ng-click='i.edit()')
            tr.spacer(ng-repeat-end): td
