include ../../mixins

div(ng-if='canEdit'): +addButton('Create Class')

+downloadCSV()

.add-button.btn.btn-labeled.btn-dark.white(ng-if='me.Id', ng-click='unavailable()', style='top:200px;color:#fff!important')
    span.btn-label: +icon('unavailable')
    span.text  &nbsp;I'm Not Available On...

.wrapped.addNew

    +userInstructions('scheduled_ftd', true)

    resource-view(ng-show='!ftss.showAlternateView')

    table.table.table-striped.table-hover(ng-if='ftss.showAlternateView')

        thead

            th Room
            th Instructor
            th Course
            th Dates
            th Seats

        tbody

            tr(ng-repeat='row in rawSchedule | orderBy:"Start"')

                td {{row.Location}}
                td {{row.Instructor.Name}}
                td {{row.Course.PDS}} - {{row.Course.Number}}
                td {{row.dateRange}}
                td {{row.Approved}}