include ../../__mixins
include ../__scheduled-mixins

+addButton('Create Class')

.wrapped.addNew

    +userInstructions('scheduled-ftd', true)

    table#resourceView.table.table-bordered.table-hover

        thead
            tr: th.month(ng-repeat='month in resourceMonths', colspan='{{month.colspan}}') {{month.month}}

            tr.days(ng-bind-html='resourceDays')

        tbody

            tr.event(ng-repeat-start='event in events', ng-bind-html='event.html', ng-dblclick='event.edit()')
            tr.spacer(ng-repeat-end): td
