include ../../mixins

div(ng-if='canEdit')
    +addButton('Create Class')


.add-button.btn.btn-labeled.btn-primary(ng-click='export()', style='top:155px')
    span.btn-label.white: +icon('disk')
    span.text  &nbsp;Download

.wrapped.addNew

    +userInstructions('scheduled-ftd', true)

    resource-view