include ../../__mixins
include ../__scheduled-mixins

+addButton('Create Class')

.wrapped

    +userInstructions('scheduled-ftd', true)

    div(ui-calendar='uiConfig.calendar', calendar='schedule', ng-model='events')

    +grouping()

        +classHeader(false)

            .col-lg-8.pull-left

                +classData(false)

            .col-lg-2.pull-right.text-right

                +seatStats()

            .clearfix

            +classActions(true)