include ../../mixins

div(ng-if='canEdit'): +addButton('Create Class')

.add-button.btn.btn-labeled.btn-primary(ng-click='export()', style='top:155px')
    span.btn-label.white: +icon('disk')
    span.text  &nbsp;Download

.wrapped.addNew

    +userInstructions('scheduled-ftd', true)

    resource-view(ng-if='!ftss.showAlternateView')

    table.table.table-striped.table-hover(ng-if='ftss.showAlternateView')

        thead

            th Room
            th Instructor
            th Course
            th Dates
            th Seats

        tbody

            tr(ng-repeat='row in rawSchedule | orderBy:"Start"')

                td {{row.Location}}
                td {{row.Instructor.Name}}
                td {{row.Course.PDS}}
                td {{row.dateRange}}
                td {{row.Approved}}