p(style='font-size:1.25em').

      FTSS is web application developed and maintained by the 982 TRG.  The best way to reach the team is through
      the org box:  <a href='mailto:372trs.trg.ftss@us.af.mil?subject=documentation' style='white-space: nowrap'>982 TRG/FTSS</a>.
      The team consists of the following members:

.clearfix

dl.dl-horizontal.col-lg-6

   dt Program Manager
   dd <a href='mailto:mark.west.3@us.af.mil'>1st Lt Mark West</a> - Holloman AFB

   dt New Requirements
   dd <a href='mailto:andrew.timmins@us.af.mil'>MSgt Andrew Timmins</a> - Travis AFB

   dt General Support
   dd <a href='mailto:matthew.sipes@us.af.mil'>MSgt Matthew Sipes</a> - Nellis AFB

dl.dl-horizontal.col-lg-6

   dt Lead Developer
   dd <a href='mailto:jeffrey.mccoy.2@us.af.mil?subject=ftss-docs'>TSgt Jeff McCoy</a> - Robins AFB

   dt Docs & Testing
   dd <a href='mailto:timothy.mcallister.1@us.af.mil'>TSgt Timothy McAllister</a> - McConnell AFB

   dt General Support
   dd <a href='mailto:jace.price@us.af.mil'>TSgt Jace Price</a> - Nellis AFB
