include base

+base('Curriculum and Training Managers', 'cm-tm')

   p.

      The <img src='imageFiles/courseCatalogIcon.png' alt='Course catalog'> function allows the user to view specific course
      information, grouped by MDS. The curriculum managers can also use this function to view, edit, or add courses.
      Hovering over the <img src='imageFiles/FTDListIcon.png' alt='FTD list'> icon shows which detachments teach that course.
      Double clicking the course enables the curriculum manager to edit the course through the 'Update Course' dialog.
      The <img src='imageFiles/updatedIcon.png' alt='updated'> icon next to a course denotes that the
      course was recently updated. Clicking on a couse number will open the Education and Training Course Announcement
      (ETCA) page for that course in the right pane.

   p.

      Clicking the <img src='imageFiles/newIcon.png' alt='+'> icon at the far right opens the 'Add New Course' dialog

   img(title='Add course example' src='imageFiles/addNewCourseScreen.png' alt='Add new course screenshot')
   br
   br
   br

   p.

      In the 'Add Course' dialog, the curriculum manager can input the information to build the new course. That
      information includes the unique PDS code, the course number, the IMDS and/or G081 course number, course title,
      course length in days and hours, and the seat limits. Marking the 'Priority' checkbox denotes that the course is a
      CAF/MCL priority course.

   p.

      The 'Update' course dialog is identical to the 'Add Course' dialog, with the exception that the fields are filled
      out upon opening.

   p.

      It is important to note that any changes made to the course catalog will affect all users of FTSS. For example,
      if a curriculum manager inadvertently archives a course, that course becomes unavailable for any detachment in FTSS.
      Any changes made to the course catalog should be coordinated with every detachment it may affect.

   p.

      Clicking the <img src='imageFiles/archiveIcon.png' alt='archived'> icon next to the search bar toggles
      the visibility of archived courses in the course catalog view. Archived courses are shown with strikethrough text
      and are faded. Clicking the <img src='imageFiles/unArchiveIcon.png' alt='unarchive'> icon next to an
      archived course restores that course to the course catalog.

   .text-center
      img(title='Example archived course' src='imageFiles/archivedExampleScreen.png' alt='Archived screenshot' width='800')
