p.

   The home page is the starting point for all users. Upon loading, the home page
   presents the user with an assortment of application functions (1). These functions can also be
   viewed at any time on the left navigation bar (2). The functions available to a user are dependent upon the role
   they are using. The current role for the user is displayed on the top left of the screen (3). There are two
   sub-windows on the right side of the screen. The Course Updates window (4) will display updates that have been made
   to the course catalog by the Curriculum Managers since your last visit. Clicking the camera icon (5) hides the front
   page window, the course updates window, and the application updates window and allows the user to view the
   background photo.

.text-center
   img(title='Home page example' src='imageFiles/homeScreen.png' alt='Home screen picture' width='800')




p.

   User Bar
   Across the top of the screen, there is a bar that allows the user to perform user-specific functions.
   On the left side of the bar, the assigned base and user role are displayed. This information differs depending
   on your login credentials.



img(title='User bar example' src='imageFiles/userBar.png' alt='User bar screenshot')
br
br
br

p.

   The share icon allows the user to share what they are seeing by use of a URL.
   Using the URL this button generates, another user can go directly to the screen that
   the sharing user is viewing, complete with search criteria.

img(title='Share screen example' src='imageFiles/shareScreen.png' alt='Share screen screenshot')
br
br
br

p.

   Clicking the settings icon allows the user to access their basic user settings.


img(title='Settings example' src='imageFiles/settings.png' alt='Settings screenshot')
br
br
br

p.

   Checking the 'Show Instructions' checkbox provides the user with basic instructions in each function.

.text-center
   img(title='Instructions example' src='imageFiles/instructions.png' alt='Instructions screenshot' width='800')
br
br
br

p.

   Checking the 'Show Tooltips' checkbox allows the user to see tips while hovering over page tools.

img(title='Tooltips example' src='imageFiles/tooltip.png' alt='Tooltips screenshot')
br
br
br

p.

   Unchecking the 'Enable Animations' checkbox will disable animations site-wide.
   Changing 'Page Item Limit' will change the amount of search results that will display on the page.

p.

   Clicking the help icon allows the user to ask questions directly to the administrators.

img(title='Help icon' src='imageFiles/helpIcon.png' alt='Help icon screenshot')
br
br
br

p.

   The questions are page specific. For example, clicking the help icon while viewing the 'Search' page will allow
   the user to ask questions about that page. The user can also review previous questions and answers about
   the 'Search' page.

img(title='Questions example' src='imageFiles/questions.png' alt='Questions screenshot')
br
br
br

p.

   The <img src='imageFiles/searchClassesIcon.png' alt='Search Classes'> function allows schedulers to search for classes that are
   scheduled. The search bar allows the scheduler to search by FTD, course, or both. The user can select multiple FTDs
   or multiple courses. The results are displayed if there are courses that match the search criteria

img(title='Search classes example' src='imageFiles/searchClassesScreen.png' alt='Search screenshot')
br
br
br

p.

   Results return by a search provide  basic information about a class. Clicking the
   <img src='imageFiles/contactFTDIcon.png' alt='Contact FTD'> icon allows the user to e-mail the detachment teaching
   that class. The <img src='imageFiles/studentsIcon.png' alt='Students'> icon opens the 'View Registered Students Dialog',
   which shows the number of reserved and non reserved spots for the class.Clicking the
   <img src='imageFiles/numberIcon.png' alt='number icon'> (if available), or the <img src='imageFiles/requestSeatsIcon.png' alt='request seats'>
    buttons opens the 'Seat Request' dialog.

p.

   The 'Seat Request' dialog allows the scheduler to request seats for an advertised class. The 'Host' line is used to
   select the requesting host. The 'Students' line is used to add students to the seat request. Entering a student name
   and pressing enter adds a student to the request. The user can only add as many students as there are seats
   available. The 'Request Comments' text area allows the scheduler to add miscellaneous comments to the request.
   Clicking the 'Submit Request' button submits the request to the FTD for approval. For FTD/Scheduler users, student
   requests are automatically approved.

img(title='Seat request example' src='imageFiles/requestSeatScreen.png' alt='Request seat screenshot')
br
br
br

p.

   The <img src='imageFiles/courseCatalogIcon.png' alt='Course catalog'> function allows the user to view specific course
   information, grouped by MDS. The curriculum managers can also use this function to view, edit, or add courses.
   Hovering over the <img src='imageFiles/FTDListIcon.png' alt='FTD list'> icon shows which detachments teach that course.
   Double clicking the course enables the curriculum manager to edit the course through the 'Update Course' dialog.
   The <img src='imageFiles/updatedIcon.png' alt='updated'> icon next to a course denotes that the
   course was recently updated. Clicking on a couse number will open the Education and Training Course Announcement
   (ETCA) page for that course in the right pane.


