include base

+base('Introduction', 'intro', true)
    .container
        #banner.page-header
            .row
                .col-lg-8
                    h1 Field Training Scheduling System
                    .lead User Guide
        #content
            .section
                p.lead.
                    Welcome to the Field Training Scheduling System. This documentation is intended to help you
                    become familiar with the basic functions in FTSS. This guide is broken up into user
                    roles.  To get started, choose yours at the top of this page.

            br
            br

            footer: include about