//include images

doctype html

html(lang="en")

   head
      title User Documentation for FTSS v3

      style: include css/bootstrap.min.css
      style: include css/bootstrap-yeti.min.css
      style: include css/docs.css

      body(data-spy="scroll", data-target="#toc")

   .navbar.navbar-default.navbar-fixed-top

      .container

         #navbar-main.navbar-collapse.collapse

            ul.nav.navbar-nav.col-lg-12

               li: a(href='https://cs1.eis.af.mil/sites/FTSS/app') Back to FTSS


   .container

      nav#toc

         ul.nav.sidenav.text-right

            li: a(href='#Intro') Top
            li: a(href='#common') Common Functions
            li: a(href='#FTD') FTD Users
            li: a(href='#MTS') MTS Users
            li: a(href='#J4') J4 Users
            li: a(href='#curriculum') Curriculum Managers

      #banner.page-header
         .row
            .col-lg-8
               h1 Field Training Scheduling System 3
               .lead User's Guide

      #content

         .section

            h2#Intro Intro

            hr

            include intro

         .section

            h2#common Commmon Functions

            hr

            include common

         .section

            h2#FTD FTD Users

            hr

            include FTD

         .section

            h2#MTS MTS Users

            hr

            include MTS

         .section

            h2#J4 J4 Users

            hr

            include J4

         .section

            h2#curriculum Curriculum Managers

            hr

            include curriculum

            br
            br

         footer: a.pull-right(href='#top') Back to top

         br

      script: include js/jquery.min.js
      script: include js/bootstrap3.min.js


