p.

   Welcome to the Field Training Scheduling System. This documentation is intended to help the user familiarize themself
   with the functions that FTSS offers. The documenation is partitioned by user specific roles, but there are certain
   functions that are common between roles. For descriptions of these functions, please refer to the common functions
   section.
