p.
   The <img src='imageFiles/needsIDIcon.png' alt='Need Class IDs'> function allows J4 schedulers to view classes
   which do not yet have class ID's. From this page, the user can assign class ID's and attach notes to the FTD.

.text-center
   img(title='Needs class ID example' src='imageFiles/needsIDScreen.png' alt='Needs class ID screenshot' width='800')

