include base

+base('UTM/MTS Personnel', 'utm-mts')

   p.

      The <img src='imageFiles/hostUnitsIcon.png' alt='Host Units'> function allows users to view and edit host units.
      Host units must be added here in order to use the   automated 898 process. From this view, the user can see the local
      detachment (if any) and UTM/MTF scheduler email for each host unit. Clicking the
      <img src='imageFiles/smallProductionIcon.png' alt='small production'> icon will open the 'Host Unit Stats' box.
      Clicking the <img src='imageFiles/editIcon.png' alt='edit'> icon will open the 'Update Host' Unit dialog.

   .text-center
      img(title='Host Units example' src='imageFiles/hostUnitsScreen.png' alt='Host Units Screenshot' width='800')
   br
   br
   br

   p.

      Clicking the <img src='imageFiles/newIcon.png' alt='+'> icon on the far right of the screen opens the
      'Add New Host Unit' dialog. Users can use this dialog to input a host unit, assign a local FTD (if applicable),
      input a UTM/MTF email, and input a location (by zip code) for the host unit. Inputting the zip code will give the
      host unit a map location. The 'Update Host Unit' dialog is identical to the 'Add New Host Unit' dialog.

   img(title='Add host unit example' src='imageFiles/addHostUnitScreen.png' alt='Add host unit screenshot')
