include ../partials/mixins

ul#dashboard-menu

    +link('home', 'home', 'Home')

    br

    +link('scheduled', 'search', 'Search Classes')
    +link('catalog', 'books', 'Course Catalog')
    +link('ttms', 'hash', 'Need Class IDs', 'role scheduling')

    li.role.ftd.instructor: h4 My FTD
    +link('production-ftd', 'graph_pie', 'Production', 'role ftd instructor')
    +link('scheduled-ftd', 'calendar_range', 'Schedule', 'role ftd instructor')
    +link('requests', 'download', 'Seat Requests', 'role ftd')
    +link('manage-ftd', 'edit2', 'Manage', 'role ftd')

    li.role.mtf: h4 My Unit
    +link('my-unit', 'agree', 'Seat Requests', 'role mtf')
    +link('my-ftd', 'calendar_range', 'FTD Schedule', 'role withFTD')
    +link('backlog', 'checklist2', 'Requirements', 'role')

    li.role: h4 Admin
    +link('admin-hosts', 'puzzle-piece', 'Host Units', 'role')
    +link('admin-instructors', 'instructor', 'Instructors', 'role')

    //
        li.role: h4 Requirements
        +link('requirements', 'agree', 'Needs Approval', 'role')
