include ../partials/mixins

ul#dashboard-menu

    +link('home', 'home', 'Home')

    br

    +link('scheduled', 'search', 'Search Classes')
    +link('catalog', 'books', 'Course Catalog')
    +link('ttms', 'hash', 'Need Class IDs', 'role scheduling')
    +link('hosts', 'puzzle-piece', 'Host Units', 'role mtf ftd')

    li.role.ftd.instructor: h4 My FTD
    +link('production-ftd', 'graph_pie', 'Production', 'role ftd instructor')
    +link('scheduled-ftd', 'calendar_range', 'Schedule', 'role ftd instructor')
    +link('requests', 'download', 'Seat Requests', 'role ftd')
    +link('manage-ftd', 'edit2', 'Manage', 'role ftd')

    li.role: h4 Requirements
    +link('backlog', 'checklist2', 'Create', 'role')
    +link('requirements', 'agree', 'Needs Approval', 'role')

