include ../../mixins

form(name='modal')

    traverse.withMap

    +googleMap()

    +modalHeader('New Host Unit', "{{data.Unit}}")

    .modal-body

        +userInstructions('modal-hosts')

        .form-horizontal

            +formGroupText('Host Unit', 'data.Unit', 'text', true, 'You must enter a unit name.', 'hosts-name')

            +formGroup('Local FTD', 'hosts-ftd')
                .input-group-selectize
                    select(selectize='Units', bind='data.FTD')

            +formGroupIcon('Unit Email', 'data.Email', 'email', true, 'Make sure you enter a valid email address.', 'hosts-email', 'envelope')

            +formGroup('Location')

                .input-group

                    .input-group-addon.w15:  +icon('location')
                    .input-group-selectize(explain='hosts-location', right): select(selectize='geodata', bind='data.Location')

    +modalFooter()
