div(style='display:none!important')
    include ../jade_includes/sprites
    include ../jade_includes/user-messages

include ../jade_includes/topbar
include ../jade_includes/leftbar

#content

    #pageActions(ng-cloak)
        include ../jade_includes/searchbox

        .clearfix
        hr(style='margin:3px 0 5px')

    #mainView(ng-view)