include mixins

form.form-horizontal(name='modal')

    .modal-header.caps.bg-warning.text-warning
        h3
            +icon('exclamation-circle', 'No Assigned FTD')

    .modal-body

        .lead.
            Sorry for the trouble, but it looks like you have the FTD Scheduler role without an assigned FTD.
            Please choose your current FTD from the list below.

        select(selectize='Units', bind='newFTD.id', placeholder='Choose an FTD to switch to')

        .text-info.info.italics
            +icon('info-circle')
            small If you are not assigned to an FTD in the 982 TRG, please let us know ASAP.

        br
        br

        p.italics.
            The FTSS team has been notified about this and will work to ensure you don't see this message again.