h2 {
	margin-top: 3em;
}

#ftd #link-ftd *,
#j4 #link-j4 *,
#cm-tm #link-cm-tm *,
#utm-mts #link-utm-mts * {
	background: rgb(91, 193, 219);
	color: #333 !important;
}

.sidenav .active {
	font-weight: 800;
	text-decoration: underline;
}

#toc {
	position: fixed;
	right: 0;
	top: 13em;
}

#toc ul {
	list-style: none;
}

#build-videos .col-lg-4 {
	text-align: center;
}

#build-videos img {
	width: 100%;
}

a img {
	transition: opacity 500ms;
	opacity: .75;
	cursor: pointer;
}

a img:hover {
	transition: opacity 500ms;
	opacity: 1;
}

.logos img {
	padding: 2em;
	max-width: 240px;
	max-height: 240px;
}

/* tree view  */
.tree {
	min-height: 20px;
	padding: 19px;
	margin-bottom: 20px;
	background-color: #fbfbfb;
	border: 1px solid #999;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05)
}

.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}

.tree li::before, .tree li::after {
	content: '';
	left: -20px;
	position: absolute;
	right: auto
}

.tree li::before {
	border-left: 1px solid #999;
	bottom: 50px;
	height: 100%;
	top: 0;
	width: 1px
}

.tree li::after {
	border-top: 1px solid #999;
	height: 20px;
	top: 25px;
	width: 25px
}

.tree li span {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #999;
	border-radius: 5px;
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
	font-weight: 700;
}

.tree li.parent_li > span {
	cursor: pointer
}

.tree > ul > li::before, .tree > ul > li::after {
	border: 0
}

.tree li:last-child::before {
	height: 30px
}

.tree li.parent_li > span:hover, .tree li.parent_li > span:hover + ul li span {
	background: #eee;
	border: 1px solid #94a0b4;
	color: #000
}

.muted {
	opacity: .75;
}

.muted i {
	opacity: .6;
}