#ttms th#action {
    width: 20% !important;
}

#ttms td .courseMax {
    margin-left: 25% !important;
}

#ttms td .notes {
    position: absolute;
    margin-top: .5em;
    width: 60%;
    white-space: normal;
    margin-bottom: 1em;
}

#ttms td {
    white-space: normal;
}

#ttms td:first-child {
    text-align: left;
}

#ttms #flags {
    display: none;
}

#ttms td {
    vertical-align: top !important;
}

#ttms td.topFix {
    padding-top: 1.85em !important;
}