include ../__mixins

- var columns = {'Course':15, Submitted: 10, 'Start Date':10, 'End Date':10, 'Class Max':10, Notes:5}

+tableHeader(false, columns, 'ttms')

    td: span(hover='This course is a priority course.'): +icon('asterisk')

    td.bold {{row.Course.Number}}

    td.italics {{row.age}}

    td.bold {{row.start}}

    td.bold {{row.end}}

    td.double
        .courseMax {{row.Course.Max}}

    td

        span(ng-show='row.ClassNotes',
            hover='FTD Notes',
            content='{{row.ClassNotes}}<br>&nbsp;'
            left)

            +icon('search')

    td

        .col-lg-10
            input.form-control.pull-right(ng-bind='row.TTMS',
                                            placeholder='Enter Class ID'
                                            explain='Press enter or click the green button when done.',
                                            top)
        .col-lg-2
            .btn.btn-small.btn-success.pull-right.white: +icon('arrow-circle-right')