include ../../mixins

form.form-horizontal(name='modal')

    .modal-header.caps
        h3: +icon('plus-circle', '{{row.Course.Number}} Seat Request')

    .modal-body

        .alert.alert-warning(ng-if='autoApprove') Seats will be auto-approved based on your current roles in FTSS.

        h4.italics
            | The {{row.dateRange}} class
            ng-pluralize(count='row.openSeats - data.peopleCount',
                            when='{1:" has one seat ", 0: " does not have any more seats ", "other":" has {} seats "}')
            | available.

        br

        div(ng-if='autoApprove')
            h4: +icon('puzzle-piece', 'Requesting Unit')
            div(trigger='focus', bs-popover='language.scheduled_request_host', placement='right')
                select(selectize='Hosts', bind='data.HostId', remember='host')

            br

        h4: +icon('student_hand', 'Students')
        div(trigger='focus', bs-popover='language.scheduled_request_students', placement='right')
            select.wide(selectize='people', max='{{autoApprove ? 99 : row.openSeats}}', placeholder='Search by Last name, First name')

        br

        div(trigger='focus', bs-popover='language.scheduled_request_notes', placement='right')
            h4: +icon('edit', 'Comments')
            textarea.form-control(ng-model='data.Notes')

        br

        h4.pull-right(ng-show='data.peopleCount > 0')
            +icon('info-circle', 'You are requesting')
            b(ng-pluralize, count='data.peopleCount', when='{1:" one seat","other":" {} seats"}').

        .clearfix

    +modalFooter('Submit Request', '!data.HostId || data.peopleCount < 1')

