include partials/mixins

doctype html

html(lang='en', ng-app='FTSS')

    head

        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

        // (c) 2014 Jeff McCoy, http://linkedin.com/in/jeffsmccoy

        meta(charset='utf-8')
        title(ng-bind-template='FTSS {{page()}}')

        |<!--[if IE]><meta http-equiv="refresh" content="0;URL='legacy.html'"><![endif]-->

        style(type='text/css').
            [ng-cloak] {
                display: none !important;
            }
            #setupMessage {
                position: absolute;
                background: #222;
                height: 50px;
                width: 100%;
                color: #fff;
                padding: 15px;
            }

        link(rel='stylesheet', href='css/app.css')

    body.wait(ng-controller='mainController', id='{{fn.getPage()}}', class='{{showArchive}} {{wellCollapse}} {{roleClasses}}')

        img#bg1
        img#bg2
        #bgText

        #setupMessage Setting up FTSS...

        include jade_includes/content

        +spinner()

        script(src='js/vendor.js')
        script(src='js/partials.js')
        script(src='js/app.js')