include partials/mixins

doctype html

html(lang='en', ng-app='FTSS')

    head

        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")

        // (c) 2014 Jeff McCoy, http://linkedin.com/in/jeffsmccoy

        meta(charset='utf-8')
        title(ng-bind-template='FTSS {{page()}}')

        |<!--[if IE]><meta http-equiv="refresh" content="0;URL='legacy.html'"><![endif]-->

        +initScripts(true, true)

        style(type='text/css').
            body > :not(#setupMessage),script{display:none!important}html,body{height:100%;width:100%;top:0;right:0;bottom:0;left:0;overflow:hidden;position:absolute}body{background-color:#f7f7f7;font-family:'Open Sans',sans-serif;margin:0;padding:0;position:relative}[ng-cloak]{display:none!important}#setupMessage{position:absolute;background:#222;top:0;left:0;right:0;color:#fff;padding:15px}.slow a{color:#4cae4c!important;font-size:1.15em}

        link(href='/sites/ftss/failover/live.css', rel='stylesheet')

    body.wait(ng-controller='mainController', id='{{ftss.viewTitle}}', class='{{ftss.showArchived}} {{ftss.showAlternateView}} {{roleClasses}}')

        img#bg1
        img#bg2
        #bgText

        #setupMessage ***Fallback Site***  Please wait, getting a couple files before we get started (about 450 KBs).

        ng-include(src='"/partials/layout.html"')

        #spinner(ng-cloak): +spinner()

        img(src='https://d2jjzg0gg2bs3z.cloudfront.net/mark.gif?failover')

        script(src='/sites/ftss/failover/live-libs.js' )
        script(src='/sites/ftss/failover/live-app.js')

        script(style='display:none!important') fallback();
