include partials/__mixins

- build = '1.0.2b'
- base = 'https://ftss-982trg-us-af-mil-7w8qlky4ciob5.s3.amazonaws.com/live/'
- base = ''

+pageHead

        link(rel='stylesheet', href=base + 'css/app.css?v=' + build)

        script(src=base + 'js/vendor.js?v=' + build)

    body.wait(ng-controller='mainController', id='{{fn.getPage()}}', class='{{showArchive}} {{wellCollapse}} {{roleClasses}}')

        img#bg1
        img#bg2
        #bgText

        include partials/includes/content

        +spinner()

        script(src=base + 'js/partials.js?v=' + build)
        script(src=base + 'js/app.js?v=' + build)
