include ../__mixins

form.form-horizontal(name='modal')

    traverse

    +modalHeader('New FTD Instructor', "{{data.InstructorName}}'s Profile")

    .modal-body(ng-file-drop='onFileSelect($files)')

        +userInstructions('modal-instructors')

        .form-horizontal

            +formGroupIcon('Name', 'data.InstructorName', 'text', true, 'You must enter a name.', 'instructors-name', 'instructor')

            +formGroupIcon('Email', 'data.InstructorEmail', 'email', false, 'Make sure you enter a valid email address.', 'instructors-email', 'envelope')

            +formGroup('FTD', 'instructors-unit')
                .input-group
                    .input-group-addon.w15
                        +icon('building-o')
                    .input-group-selectize
                        select(selectize='Units', bind='UnitId', remember='ftd', required)


        br

        .center-block.drag-target(style='width:175px', hover='instructors-photo', left)
            photo.img-rounded(size='150px', shape='rectangle', data='data', watch, force)
            small: i Add or update by drag & drop

        .clearfix

    +modalFooter()
