include ../__mixins

mixin miniLink(page, tag, name)
    span.link(ng-click='fn.doNavigate("' + page + '")')
        +icon(tag)
        span= name


mixin panelGroup(ico, title, type)
    .panel(class='panel-' + type + ' text-' + type)

        .panel-heading
            h4.panel-title
                +icon(ico)
                =title

        .panel-body
            block

.wrapped(style='top:-4em;padding-top:1em;overflow:hidden')

    .jumbotron('style="margin:-25px;padding:10px;padding-left:25px"')
        h1 Field Training Scheduling System
        p The Air Force Field Training requirements & scheduling system

    br
    br
    br

    .row

        .col-lg-9

            .well

                p.lead(user-message='home-intro')


                #homeInstructions
                    h5.border-bottom Requirements

                    .row.role.mtf.ftd
                        .col-lg-3: +miniLink('backlog', 'checklist2', 'Generate 898')
                        .col-lg-9(user-message='navigation-generate-898')

                    .row.role.mtf.ftd.approvers
                        .col-lg-3: +miniLink('requirements', 'agree', '898 Response')
                        .col-lg-9(user-message='navigation-898-response')


                    h5.border-bottom Classes

                    .row
                        .col-lg-3: +miniLink('scheduled', 'calendar_range', 'View Scheduled')
                        .col-lg-9(user-message='navigation-view-scheduled')

                    .row.role.ftd
                        .col-lg-3: +miniLink('requests', 'download', 'Manage Requests')
                        .col-lg-9(user-message='navigation-manage-requests')


                    h5.border-bottom Manage FTSS

                    .row.role.curriculum
                        .col-lg-3: +miniLink('catalog', 'books', 'Course Catalog')
                        .col-lg-9(user-message='navigation-course-catalog')

                    .row.role.ftd
                        .col-lg-3: +miniLink('instructors', 'instructor', 'Instructors')
                        .col-lg-9(user-message='navigation-instructors')

                    .row.role.ftd
                        .col-lg-3: +miniLink('units', 'building-o', 'FTDs')
                        .col-lg-9(user-message='navigation-ftds')

                    .row.role.mft.ftd
                        .col-lg-3: +miniLink('hosts', 'puzzle-piece', 'Host Units')
                        .col-lg-9(user-message='navigation-host-units')

                hr

                p#homeFooter(user-message='home-footer')

        .col-lg-3

            +panelGroup('flag', 'Course Updates', 'success')

                em(style='font-size:1.3em', ng-show='courseUpdates.length < 1', user-message='home-no-course-updates')

                div(ng-repeat='course in courseUpdates')
                    h4
                        .pull-left {{course.PDS}} - {{course.Number}}
                        .pull-right {{course.AFSC}}

                    .cleafix

                    br

                    .clearfix

                    p {{course.Title}}

            #updates
                +panelGroup('info-circle', 'Application Updates', 'warning')
                    blockquote.blockquote-reverse(ng-repeat='update in updates')
                        p(style='font-size:.85em') {{update.Update}}
                        footer {{update.date}}


