include ../__mixins


mixin panelGroup(ico, title, type)
    .panel(class='panel-' + type + ' text-' + type)

        .panel-heading
            h4.panel-title
                +icon(ico)
                =title

        .panel-body
            block

.wrapped(style='top:-4em;padding-top:1em;overflow:hidden')

    .jumbotron('style="margin:-25px;padding:10px;padding-left:25px"')
        h1 Field Training Scheduling System
        p The Air Force Field Training requirements & scheduling system

    br
    br
    br

    .row

        .col-lg-8

        .col-lg-4

            +panelGroup('flag', 'Course Updates', 'success')

                em(style='font-size:1.3em', ng-show='courseUpdates.length < 1') There haven't been any course catalog changes since your last visit.

                div(ng-repeat='course in courseUpdates')
                    h4
                        .pull-left {{course.PDS}} - {{course.Number}}
                        .pull-right {{course.AFSC}}

                    .cleafix

                    br

                    .clearfix

                    p {{course.Title}}

            #updates
                +panelGroup('info-circle', 'Application Updates', 'warning')
                    blockquote.blockquote-reverse(ng-repeat='update in updates')
                        p(style='font-size:.85em') {{update.Update}}
                        footer {{update.date}}


