include ../mixins

mixin panelGroup(ico, title, type)
    .panel(class='panel-' + type + ' text-' + type)

        .panel-heading: h4.panel-title: +icon(ico, title)

        .panel-body: block

#slideshowToggle(flickr, ng-click='ftss.toggleSlides = !ftss.toggleSlides'): +icon('camera')

.wrapped(style='top:-4em;padding-top:1em;overflow:hidden',
            ng-class='{"showContent":!ftss.toggleSlides}')

    .jumbotron('style="margin:-25px;padding:10px;padding-left:25px"')
        h1 Field Training Scheduling System
        p The Air Force field training requirements & scheduling system

    br
    br

    .row(style='overflow-y:auto')

        .col-lg-9

            .well

                div(user-message='home_intro')

                .alert.alert-info(ng-if='roleText==="Visitor"')

                    p.
                        <b>MTS personnel, UTMs and FTD Schedulers:</b>  Send a digitally signed email to
                        <a href='mailto:372trs.trg.ftss@us.af.mil?subject=FTSS%20Access%20Request'>982 TRG/FTSS</a>
                        to request additional rights in FTSS.

                    br

                    p.
                        <b>Instructors:</b>  Contact your scheduler to update your email address in FTSS.

                    br

                    p.
                        <b>Everyone else:</b>  To request a seat in a class, please share a link with your UTM for them to request the class for you.


        .col-lg-3
            +panelGroup('flag', 'Course Updates', 'success')
                h4.italics.text-center(ng-if='courseUpdates.length < 1') No course changes
                h4(ng-repeat='course in courseUpdates') {{::course.PDS}} - {{::course.Number}}

            div(ng-if='!notChrome')
                +panelGroup('info-circle', 'Google Chrome', 'info')
                    h5.text-justify.
                        Google Chrome is now authorized for all AFNET computers.  If you already have it installed,
                        we recommend you use it for FTSS instead of Internet Explorer as it is much faster.
