include ../__mixins

form(name='modal')

    traverse.withMap

    +googleMap()

    +modalHeader(false, "{{data.Base}} FTD - {{data.Det}}")

    .modal-body

        +userInstructions('modal-units')

        h4
            b FTD Scheduling E-mail
        div(explain='units-email', left)
            .input-group
                .input-group-addon.w10
                    +icon('envelope')
                input.form-control(ng-model='data.Email', type='email', required)
                .helper Please ensure you enter a valid email address.

        br
        br

        h4
            b Courses Taught
            .pull-right {{data.Courses_JSON.length}}

        .pds(explain='units-courses', left)
            select(selectize='MasterCourseList', bind='Courses_JSON', multiple)

        .text-info.info.italics.pull-right
            +icon('info-circle')
            | You can paste a list of PDS course codes to update this list faster

        .clearfix

    +modalFooter()