include ../__mixins

- var columns = {'': 15, Unit:10, Base:15, Email:40}
+tableHeader(false, columns, 'units')

    td: +icon('flag')

    td: +googleMap(true, '{{row.Thumb}}')

    td.bigLetter {{row.Det}}

    td: b {{row.Base}}

    td.lowercase
        a(href='mailto:{{row.Email}}?subject=FTSS', tabindex='-1') {{row.Email}}

    td: +actions(true, true, false, 'FTD')