#shortner.dropdown-menu
    p Once loaded, copy or click the link below to share.

    .well.well-sm: a(href='mailto:?subject=FTSS%20Link&body=https%3A%2F%2F{{shortURL}}') {{shortURL || 'Loading...'}}