line(sid='LINE_INDEX_')
    itemlocation
        x 50
        y {{offsetLine}}
        width 925
        height 1
    fontcolor #222222

label(sid='PDS_INDEX_')
    value {{PDS}}
    itemlocation
        x 58
        y {{offset}}
        width 48
    fontinfo
        fontname Cambria
        size 12

label(sid='CAFMCL_INDEX_')
    itemlocation
        x 18
        y {{offset}}
    value {{cafmcl}}
    fontinfo
        fontname Calibri
        size 14
        effect bold

label(sid='CourseNumber_INDEX_')
    value {{Number}}
    itemlocation
        x 110
        y {{offset}}
        width 180

label(sid='Backlog_INDEX_')
    value {{backlog}}
    itemlocation
        x 302
        y {{offset}}
        width 59
    justify center

label(sid='Month1_INDEX_')
    value {{stats1}}
    itemlocation
        x 367
        y {{offset}}
        width 59
    justify center

label(sid='Month2_INDEX_')
    value {{stats2}}
    itemlocation
        x 432
        y {{offset}}
        width 59
    justify center

label(sid='Requested_INDEX_')
    value {{stats3}}
    itemlocation
        x 497
        y {{offset}}
        width 59
    justify center
    fontinfo
        fontname Calibri
        size 12
        effect bold

label(sid='CourseTitle_INDEX_')
    value {{Title}}
    itemlocation
        x 58
        y {{offsetTitle}}
        width 432
    fontinfo
        fontname Calibri
        size 11
        effect italic

combobox(sid='Given_INDEX_', appearance='compact')
    visible(compute='Requested_INDEX_.value == "0" ? "off" : "on"')
    format
        constraints
            mandatory(compute='Requested_INDEX_.value != "0" && SIGNATURE2.signer != "" ? "on" : "off"')
    itemlocation
        x 507
        y {{offsetTitle}}
        width 59
    previous Month3_INDEX_
    next Notes_INDEX_
    fontinfo
        fontname Cambria
        size 12
        effect bold
    justify center
    group FTD_RESPONSE

field(sid='Notes_INDEX_')
    scrollhoriz never
    scrollvert fixed
    value Min/Max: {{Min}}/{{Max}}, Days: {{Days}} \r{{Notes}}
    itemlocation
        x 573
        y {{offset}}
        width 380
        height 70
    previous Given_INDEX_
    format
        datatype string