XFDL(xmlns:custom='http://www.ibm.com/xmlns/prod/XFDL/Custom', xmlns:designer='http://www.ibm.com/xmlns/prod/workplace/forms/designer/2.6', xmlns:xfdl='http://www.ibm.com/xmlns/prod/XFDL/7.7', xmlns:xforms='http://www.w3.org/2002/xforms', xmlns='http://www.ibm.com/xmlns/prod/XFDL/7.7')
    globalpage(sid='global')
        global(sid='global')
            designer:date 20140425
            formid
                title Electronic 898 - Updated 15 May 2015 for FTSS, https://cs1.eis.af.mil/sites/ftss
                serialnumber AAA1E3E54FDB4A71:8BC5ACF:1459C3FAF9D:-8000
                version 1.0
            fontinfo
                fontname Calibri
                size 12
            printsettings
                dialog
                header
            saveformat application/vnd.xfdl
            ufv_settings
                menu
                    visible off

    page(sid='PAGE1')

        global(sid='global')
            label Electronic 898 - Updated 15 May 2015 for FTSS, https://cs1.eis.af.mil/sites/ftss
            designer:pagesize 960;1260
            printbgcolor transparent
            printsettings
                header
                    left {{Month}} 898
                    middle FROM: {{From}}
                    right TO: {{To}}
                footer
                    left MAT: {{Creator}}

                outputformat pdf

        toolbar(sid='TOOLBAR')
            itemlocation
                x 0
                y 0
            bgcolor #eeeeee

        label(sid='HeaderLogo')
            itemlocation
                within TOOLBAR
                x -15
                y -10
                height 80
                width 835
            image PAGE1.Header1
            imagemode clip

        button(sid='PRINT1')
            itemlocation
                within TOOLBAR
                x 930
                y -5
                width 60
                height 50
            type print
            value Print
            printvisible off
            image PAGE1.printer2
            border off
            bgcolor #222222
            imagemode clip

        button(sid='SAVE1')
            itemlocation
                within TOOLBAR
                x 870
                y -5
                width 65
                height 50
            type saveas
            value Save
            printvisible off
            image PAGE1.disk2
            bgcolor #222222
            border off
            imagemode clip

        button(sid='EMAIL1')
            itemlocation
                within TOOLBAR
                x 807
                y -5
                width 70
                height 50
            type submit
            url mailto:{{Email}}?subject={{From}} 898 for {{Month}}&amp;filename={{FileName}}
            value Email
            printvisible off
            image PAGE1.envelope1
            border off
            bgcolor #222222
            imagemode clip

        label(sid='HTTP')
            itemlocation
                within TOOLBAR
                x 810
                y 35
                height 35
                width 181
            justify center
            value go.usa.gov/38Zah
            fontcolor #EEEEEE
            bgcolor #222222
            format
                datatype string

        button(sid='SIGNATURE1')
            itemlocation
                within TOOLBAR
                x 500
                y 100
                width 475
                height 75
            type signature
            value(compute='signer=="" ? "{{To}} approval pending, please click to sign" : "{{To}} approved by " + signer') {{To}} approval pending, please click to sign
            designer:design
                designer:designvalue(xmlns='http://www.ibm.com/xmlns/prod/workplace/forms/designer/2.6', key='signatureAppearance')
                    value SIGNATURE1
            signature SIGNATURE1_788528291
            signformat application/vnd.xfdl;engine="Generic RSA";hashalg="sha1"
            bgcolor #5CB85C
            fontcolor #FFFFFF
            border off
            justify center
            signer
            signoptions
                filter omit
                optiontype triggeritem
                optiontype coordinates
            custom:enablewhenpagevalid(xfdl:compute='SIGNATURE2.signer != "" ? set("active", "on") : set("active", "off")')

        button(sid='SIGNATURE2')
            itemlocation
                within TOOLBAR
                x 15
                y 100
                width 475
                height 75
            type signature
            value(compute='signer=="" ? "{{From}} approval pending, please click to sign" : "{{From}} approved by " + signer') {{From}} approval pending, please click to sign
            designer:design
                designer:designvalue(xmlns='http://www.ibm.com/xmlns/prod/workplace/forms/designer/2.6', key='signatureAppearance')
                    value SIGNATURE2
            signature SIGNATURE2_788528291
            signformat application/vnd.xfdl;engine="Generic RSA";hashalg="sha1"
            bgcolor #5CB85C
            fontcolor #FFFFFF
            border off
            justify center
            signer
            signitemrefs
                filter omit
                itemref PAGE1.SIGNATURE1
                itemref PAGE1.SIGNATURE2
                itemref SIGNATURE1_788528291
                // FTDSIGN

            signoptions
                filter omit
                optiontype triggeritem
                optiontype coordinates

        label(sid='mtsNotes')
            value MTS: Verify this 898 and route for approval IAW AFI 36-2650.  Once signed by the designated approval authority, click the envelope in the top-right corner to send to the FTD for final coordination.
            itemlocation
                within TOOLBAR
                x 15
                y 175
                width 945
                height 85
            fontcolor #777777
            fontinfo
                fontname Calibri
                size 11

        label(sid='ftdNotes')
            value FTD:  Build the classes in FTSS, complete this document and upload to FTSS.
            itemlocation
                within TOOLBAR
                x 15
                y 230
                width 945
                height 50
            fontcolor #777777
            fontinfo
                fontname Calibri
                size 11

        label(sid='MONTH')
            value {{Month}}
            fontinfo
                fontname Calibri
                size 15
            itemlocation
                within TOOLBAR
                x 7
                y 65
                width 189
        label(sid='Requester_Label')
            itemlocation
                within TOOLBAR
                x 250
                y 70
                width 740
            value Created {{Date}} by {{Creator}}
            format
                datatype string
                presentation
                    casetype upper
            fontinfo
                fontname Calibri
                size 12
                effect italic
            justify right

        label(sid='CAFMCL_Label')
            itemlocation
                within TOOLBAR
                x 7
                y 274
                width 42
            value
                | PRI
                | CRS
            fontinfo
                fontname Calibri
                size 10
                effect bold
        label(sid='PDS_Label')
            itemlocation
                within TOOLBAR
                x 58
                y 274
                width 42
            value
                | PDS
                | Title
            fontinfo
                fontname Calibri
                size 10
                effect bold
        label(sid='CourseNumber_Label')
            itemlocation
                within TOOLBAR
                x 111
                y 295
                width 180
            value Course Number
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify left
        label(sid='Backlog_label')
            itemlocation
                within TOOLBAR
                x 303
                y 274
                width 65
            value
                | Total
                | Backlog
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify left
        label(sid='Month1_label')
            itemlocation
                within TOOLBAR
                x 368
                y 295
                width 59
            value {{Stats1}}
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify center
        label(sid='Month2_Label')
            itemlocation
                within TOOLBAR
                x 426
                y 295
                width 73
            value {{Stats2}}
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify center
        label(sid='Month3_Label')
            itemlocation
                within TOOLBAR
                x 498
                y 295
                width 59
            value {{Stats3}}
            fontinfo
                fontname Calibri
                size 10
                effect bold
            justify center
        label(sid='Remarks')
            itemlocation
                within TOOLBAR
                x 574
                y 295
                width 380
            value Remarks
            fontinfo
                fontname Calibri
                size 10
                effect bold

        // COURSEDATA


        cell(sid='selectHelp')
            group FTD_RESPONSE
            type select
            value
            label Type the # of seats given or choose a code below for 0

        cell(sid='selectE')
            group FTD_RESPONSE
            type select
            value E
            label E - Teaching En-Route students
        cell(sid='selectF')
            group FTD_RESPONSE
            type select
            value F
            label F - Teaching foreign military students.

        cell(sid='selectL')
            group FTD_RESPONSE
            type select
            value L
            label L - Leave

        cell(sid='selectM')
            group FTD_RESPONSE
            type select
            value M
            label M - Minimum class size not met

        cell(sid='selectN')
            group FTD_RESPONSE
            type select
            value N
            label N - No instructor authorized

        cell(sid='selectQ')
            group FTD_RESPONSE
            type select
            value Q
            label Q - Qualification training

        cell(sid='selectT')
            group FTD_RESPONSE
            type select
            value T
            label T - Teaching another course

        cell(sid='selectY')
            group FTD_RESPONSE
            type select
            value Y
            label Y - Temporary duty

        cell(sid='selectR')
            group FTD_RESPONSE
            type select
            value R
            label R - Other circumstances, explain in remarks

        data(sid='FTSS_DATA'): mimedata(encoding='base64') {{Encoded}}

        data(sid='disk2')
            filename disk.png
            mimetype image/png
            mimedata(encoding='base64')
                | iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAe0lEQVR4Ae3ToRFDIRCE4dRCFeej
                | aYImQCf6ishp4tHoLSokmYHLcBkMM8+8X39y9+IWbQLEj6mbAlTRKqIqQBiA8S45VUITHcgP8DGG
                | D4C3QQLkC+p1ASBHgSByN0F2qqcBkGMvYwZzJ9gPGH/iMXuzSuM4YsS065uLXhJH5yvrgyDrAAAA
                | AElFTkSuQmCC

        data(sid='envelope1')
            filename envelope.png
            mimetype image/png
            mimedata(encoding='base64')
                | iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAyElEQVR4Ab3TIXODQBCG4f0tn19/
                | Hn0aTTXooonGx6b6ToM+/f6otnTaIRO4mE4esyte+5meeEkQuvdTncuaQkVp7EpVMp6wlapsI1Vv
                | pkxFlskrRXaZy2dOzC635FJbOFBayZP93CsPri7FggGTS0PhThkkn2ALWKIUMjs5SHHhN4BJ0sif
                | UdIEu4DUSM3KZv3+E/cB9JJf+HJxqYeHgJtLYRyD5DeOAkqnTVc4DiD1MfYLe0bdS4KVqtUGqgZT
                | O3+cmtt/2OYnXIFgGuZO+/AAAAAASUVORK5CYII=

        data(sid='printer2')
            filename printer.png
            mimetype image/png
            mimedata(encoding='base64')
                | iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAAAAABWESUoAAAAuklEQVR4AcXRrxKEIBDH8X2W7XT6
                | ZrP9stfpl+lWydDN5t9DnWH9Awp34Wbumxj5OLJI/KGfgjAd3QKc+gOwQ0RRHKyCYrc0xIJGsgKW
                | rpp8c5M2olG05NHsRaENwgFSOJVugOVT9goWzlouYMzBuINt5XLgtveo11WXg04f98TinJsBkwMD
                | zOuG6FUDiYuSHpt0KF8Cr4OTfvBRgqcei/TIUgLRwUiHni4Bfgep8q93gEobMK6SUdDsDervsuCa
                | +fq8AAAAAElFTkSuQmCC

        data(sid='Header1')
            filename Header.jpg
            mimetype image/jpeg
            mimedata(encoding='base64') /9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCABLA/IDASIAAhEBAxEB/8QAHQABAAIDAAMBAAAAAAAAAAAAAAcIBAUGAQIDCf/EAEcQAAAGAQMCBAQCBwQIBAcAAAABAgMEBQYHERITIQgUIjEVMkFRFmEJFyMzQnGBOFJykTc5YnR1grGzJDR2tENjc6GywcP/xAAUAQEAAAAAAAAAAAAAAAAAAAAA/8QAFBEBAAAAAAAAAAAAAAAAAAAAAP/aAAwDAQACEQMRAD8AoIADdYXiNln2W0+OU7JyLO1ltQ47ZfVa1Ekt/wAu+5n9iMBpQHS6kYFa6XZ5e4ndtkzaVEtcR7j8qjSfZaT+qVJ2UR/ZRDmgAAAAAB0um+BWmqWdUWJ0jZO2lvLREZJXypNR91q+yUp3UZ/ZJgOaAbrNMRssCy24xy4ZOPZ1Ut2HIbP6LQo0nt+Xbcj+xkNKAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAALNfo9ppU2v7NvHpGsmtq+A+7Dp+qTUl4ttnlxTV6FPobNaktrNJLTz2UlRJFZR0mnOd2emOd0WV0znSsqiY3LZM/ZRpPuk/wDZUW6T/JRgLrfpJsLodQ6+l1qw14pUdaypL9g21NSIkhH7nzDStltOEW7akrIj7N/chQUftDe4Xpx469LbG/w2/wDg13awEQp8yERKcSfZSY0+OexO8FJ9KlbKTx5NrIj7/lZrv4dc28PGUqp8trDabcUfk7JjdcSakv4m3Nv80nsovqQCMQAAAX6/Rs4VRaeV93rTmT/lI6FnR4+x01Ovy5C/33l2k7rdcMtm0pQRn3c+xiqWhPh2zXxEZSmnxOtU622ovOWT+6IkJJ/xOubf5JLdR/Qh+qlFhenHgU0srr/Mr/4zd1UBcKBLm7JcUfdSo0COW5Nc1K9Sk7qVy5OLMi7B+fP6QqYm41/et5FI1jNtYQGHplP1SdkslsZNLlGn0JfW2SFKbQaiQnhupSjUIBwOmj5FnOO1Mvn5SdYxor3A9lcFupSrY/oexj76i53Z6nZ1e5XcudWyt5jkt77JNR9kl/spLZJfkRDI0l/0q4Z/xqF/30AJn1TotDtLc/uMVlYxlk6RWuJbXIZtmkoXuhK+xGjf+IRVDg4nPxXO5zVHka5DUho6WSwlLkWEyp0/TMX/AHjRsSTIu6hOPiYzPTCu1py6Jc6cTra6Q8lL1k3kDjCHF9JGyukSDJOxbdt/oOT0d/sp66f46j/3ICD6DGbfKppw6WqnW8vjy8vAjrfc2+/FBGYxrKrmU056FYRH4Mxo+LkeS2ptxB/Y0q7kLaYpV0+K+E/D5DeoS9N5GR2MqRPtIsGS+9LU04ttDPNj1ISlKSPiZ7Ge/wCYjzxNZhieY4/gKqnLSzTJ66G9Bt7Y4MiMuQhKknHUrqpLkZEbhGe5n9TAa/xbYfS4RqbAgUVczWQ10sOQplgtkm4pKuSv5mOHxLT29kWVBZTccsjx6TOjtrnOwnCjOIU4kjLqbce+/wB/qLI6vYrBzbxkae0tmhLtfKr63rtL9nEJSpZoP8lcdv6jicr13zpHiZnsx8isIdbHyBVW1UpdPyaYyH+kTRsH6DLiXf0+/f3AcJ4ocZq8O14yynpYTVdWRXmUsxWC2Q2RsNqPb+pmf9R8MJutJ4eOx2spxvI7G6SpfWkV1i2yyouR8dkqQZl6dv6jdeMf+0rm3/12P/bNCGQFptZcH0R0byOuqJmO5XYuTa1myS4xatJJKXDURJPdHuXEV0saVy0l2VjRVFj+H/OKajrcbU70iUr9k0txJcTXsaS/MxOPjn/0n4z/AOl4P/5OjbaMZpPwDwiZ5dVSWSs2sgjojSHmyX5dakNp6qCPtzSRnxP6Hsf0AV0kYffRLlFQ/SWLNs4lKkQHIjiX1JUW6TJsy5HuXcuw98jwnIsQSz8eoLSk637o7GG5H6n3480luJC0ukamalZxb3FRlUqFaNV61WmS2M9TRRIhbbmt7upJdi249+3btuJhv3finhCz5iZnqdRnKy3hOszVJkKOItbiEKSlx9JKURkavl7epX3AV0ta2ia0upJsepvWMgdmOolWUhsirXmi5cUMq9zWXbl/IxpY+H38t6AyxSWTz1gjqQ0IiOKVJT/ebIi9ZfmW4mvOP7Fem/8A6gnf/wBB2WsurGQad6JaOQsbklTzLHHi69rF9MzpJ4/sUOe6EGZ8j47GZpT37AKr3FJY47YOwLWBKrJzW3UjTGVMuo/mlREZDqdTqWmiZXEh4vSX9XHdis7Q71njKceV7qQlO+6FHtxEr+KuxkZLgWi+Q2Thyrmfj60yprn7x7gpPE1H9T9Sj/5jG+8Rv9qzT/8A3el/7hAK6QdPsptJkuHDxq4ly4f/AJlhiA6tbHbf1pJO6e33GhWhSFmlRGlRHsaT7GRi32sWu+X03ipLH6SyXQ00O8jIciV/7NM1azb6jkgy/emoj4+rsSUpIi7bjPx3Cqa3/SB5KzKhNPRoLj1o3ENJcXZBMoWXb6nzWa/5kAqm/pxlsVuE4/i90yiaokRVOV7ySfP32b3T6j7H7DQSIrsOQ6w+0th9pRtuNOJNKkKI9jSZH7GQsl4eddc+y3xH0HxTJbGZGt7A0yq955S43HZSuKWlbpRx29JpIjLYQvq7/pZzX/jc7/vrASbpLpzgUjQrJM/zKDb2K6y2bgIj1ctLJmhaW9j9ST+qzHpqHpJg9noujUzTyVcMQI9kVZY1V4ba3GnDSRkpC0F3L1I+/wA302Mh2Wib+MxvB/nLmXRbKZSFkbHVZqXENvmrizx2NZbbb+4xfE6aMc0qwmpwOI1H0ktC+JMS21KW/JnbGS0ylmfZaS9k+3Yy/g2SFdMexO8y2Q4xR01hcvtp5Lbr4rj6kl9zJBHt7DBmwpFdKdiy2HYslpRodYeQaFoUXuRkfcjFwHa2lw3w5aYxWNTXNMvjSJFnMkw4Ep52ye5JLZTkfukmiPjxM/qX2HJaozMK1m1f0lh12RoyiZMKFT5BZohvQ1Slk8lHUMnEkfNSFH3Lf2L8gFf2sIyN+iVdt0Fo5Sp7qsUw3DjF9/2nHj/9x8JGMXMS5RUP1M5i1WZJTBcjLS+o1exE2Zb9/wCQnfxBa4ZtjmvN/Cpb6bS1VJJ+HwamK4aIbbLaSTxNj5FJVtuZKSe++3sREJE1W/1h2Of77W/9pACnqKee5anWJhSFWXWOP5MmlG91d9uHDbly37be46nTOjqntQ49ZltHf2MJvrIlVlGxvP5pQrsSFbbcVF6t/oRiSqQjV46FkRbn+O3z2L/fV7ju9Fv9YPff8Zuv+j4CqkOmnWzkz4dAlTERW1PvEwypZstJ91r4l6SL6mfYe1ljttTRIUuwrJsGLNSa4r0mOttuQRbbm2oy2URbl7fchYXwdWJVF7qxPVFYmpi4jPfOLKTyae4qQrgsvqk9tjL7GPp4ZcitNc/ETSyM7tX79NYxJnxIswzWyhxKS2S20XZJEZJVxSRfIQCAbbBskoKxixs8fta6vfMialy4TjTLn+FakkR/0GBFpbCbAlTo8GTIhROPmJLbKlNs8j2TzURbJ3P239xbeg1Fw1gszRl+ujubVuQVsiO5UyaWwS2iQru043ySZNmky7cSLbt9iHL+G/KJGF+HTWi7hsRpEyG5VrYTLaJ1tDnWUSHOJ9jNBmS079uSS9wFerjD77H2Ir1pSWNazK7x3JcRxpL3+A1EXL+g83mHX+Mx4z9xR2VSzKLdhydEcZS8X+waiLl/QWj031jyix8MepOR3U88luKK0hSKuTdF5o4bzq0t9Rvn7Gnkak/Qj+n0GjZzW91H8G2eScotJV9LrsgiORZE9w3XGjWaCMkqV3ItlK7fTkYCuuPYneZbIcYo6awuX208lt18Vx9SS+5kgj29hhS4EmDNchyY70eW2vprYeQaFoV/dNJ9yP8AIW/draXDfDlpjFY1Nc0y+NIkWcyTDgSnnbJ7kktlOR+6SaI+PEz+pfYRp4jsvxTNsowSwociRlNyzXswrmzRCeinJeaURJdUl1JbqURn3Lf5S/IBEcTT3KrC1kVkXGriTZR0kt6GzAdW80ky3I1IJO6SMu/cZ+m+l15qhnMXFqtg2Z7zhodckNuE3G291O8UmaS37e3uZELI+LbXfL8N1+n0mNWSseiQ3Ij7yq79m5OdUy0rk+ou69k8UEk/TxT7e43t9KkY9+kXZZq5D1ezYuxkzGorim0SEqiJUpKyT2URqSSjI/4i39wFQ82wK80/uZMC5rpUTpyHY7Uh6O423I6auJqbNRFyT7H/ACUQ8y9OMtgUpXEnF7qPUcSWU92veQxx+/UNPHb+o7bP9TLheubs3I7Cfk1ZQ5G88zXWUpb7SWkSt1NISszJKVJbSnYu2xF9hMOscW81jpcrzrTzU2dkONuMHKtsRlS3GZFewRbqT0OXBbadjPciL27Gr3AVGFj3NP8ASvBdFtPsrymoyC2sMlRJ6hVs9tlDZtOcfZSD9yMv8jFcBYvW/wDssaEf4bL/ALqQHzTongeruGXNxpRY3DF9SMKlzcZv+C3XWS91sLbLZX8j3MzMi9O5bwFWVc26mtQ66G/PmOns3HjNKccX/JKe5ixHgKS7F1nnWy1dKqraWU/YPr+RDXp+Y/Yu/f8A5THvpvZO6eeFHNc1xxZ1+S2V+3S/EI57Pw4pIQ5xbX7oNRqMjMvun6kWwQBkGJXmJSEMXlNYUz6y3Q3YRXGFKL8iWRb/AEHpQ4vc5XLOLSVM64kpLkbECMt9ZF99kEZixGk2R2mrehOrlLl9jJvY9JXIua2VZPKediSEc/ShxRmoiXxItvb5vuYzM8yay0a8LWl0LDZj1M5lRSZ9tZwFm0+8tBo2bNxPqIv2m3bb93t99wrhPw6/qrlmom0dlDtn9ulAfiONvubmZFxbMuR7mRl7fQYaKee5anWJhSFWXWOP5MmlG91d9uHDbly37be4lfQzL7zMvEVp3Lv7iddSmLCPHbkWEhTziWyWaiTyUZntupR/1G8pCNXjoWRFuf47fPYv99XuAhGLjltNuF1MermyLVKlIVBajrU+lSd+RG2Rb7lse/btsPs1h189SO3LdJYrqGz4uWCYjhx0H9jc24l/mLR6Lf6we+/4zdf9Hx9vC5rBkuouvL9FcTOpisyumRvw40XGvaZSg+LaGflIiItt/mMjPcz3AVYbwzIHqFd4iisl0qPnskw3DjJ77d3duJf5jCqaefez24NZCk2M10/2caI0p1xf8kpLcxa3wu6wZRqZqje011YG5jkzH5jKaFouECO2lJcENM/Kkkp9P3MvczGFoBWVVH4Y8vyRWW/ga0sLpFQ7kDUR6S9HjpbbcJpHSLmjmpZ7qLYvYvsArHeY9a4xPVBuayZUzUlyONOjrZcIvvxURH7kYyI+H38t6AyxSWTz1gjqQ0IiOKVJT/ebIi9ZfmW4nTW7MsPvdD8fpW9Qlag5hU2y1M2D9fKYdKC42rk2pbyfVsske6t9uxew6nWXVjINO9EtHIWNySp5ljjxde1i+mZ0k8f2KHPdCDM+R8djM0p79gFXZmL3NddlTSqmdGuDWTZV70ZaJBqV7J6Zly3P7bDtNVdBMr0jksotITkuKuGzMcnw47xxmeoexNrcUgiJZHsRl9zISd4m8js5mJaH5euc+jJ36NS3LZpZokKW2tBoXzT35EalHv8AczGT42s3yP8AGVVSFf2nwWXj0B+RXFMc8s85upRrW3y4qVySk9zLfciAVhAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAF7v0cN5Ezd2zwhNy/iucVqF2WOZBBSk3FMmZeYhvtn6ZDPLi50l+3Jw0mg/ULzWV7UaiRv1X63YvXw7CyPpxTWZrq7lRey4TyvU28Xv0VGl1H8JrL1D8S8Czu80zy+sybG7Bysuq53rR5TZEZpPYyMjI+yiMjMjI+xkZkP0y0v8A0imlWs+nUnH9bIUamn9MkSW1xHZEGaf0ca4EpbSyPvsfdJ7GlX2CvHi2/R2ZFouU7KMJ8xk+Eo5OutceU2tR7mbhF+8bLv8AtEluRfMRbch58JH6OvItaEwcozbzGMYSvi601x4zbJHuRtkf7ts/76i3MvlI9+QmjUHxSHd4FkGmGk2US9XXcjhuV1S35WSm6rUrLZxLri2yTJZJrns6ZpcR258y9Qaf+KRVJgWP6Yas5RL0idx2G3XWzflZKrqzSgtm0tOJbNMZo2uG7pGpxffhwL1ALQVt7U6eR/1YaJYvAmWFafTlmjdFVTKP3XMeT6nHj9+ik1Or/iNBeoUZ/SP3kTCHq3CFXD+VZxZIRY5HkE5KScSyRn5eGw2Xpjs8uTnSR78WzUaz9QmTU/8ASKaU6M6dR8f0Ugxrmf0zRGbTEdjwYR/Vx3mSVurM++xd1Hualff8zc9zu81My+yybI7Byyu7J3rSZThERqPYiIiIuySIiIiIuxEREA58bbEr78LZZTXXQ818NmszOhz4dTpuJVx5bHtvttvsY1IAOx1e1B/WrqReZX5D4X8TdS75Prdbp7ISnbnxTy+X7ENjh2rP4T0pzrC/hXmvxQcQ/PeY4eW6DnP5OB8+Xt8ydvzEegAlbTrXCPjuFSsIy3G2syw96R5xmGuUqM/Df226jLqSPj233Tt33P23VvzuoeTYfetwGMTw1eLIjms3n37Rya9K348eXJKUo47H8pfxDiwASrqRr5PzXVKkzirgfALGojxWmEeY65c2PZRnwT2Pfunb2+47G68TeJzsiLL4elNfEzp11D8i1dsXHmCdIy5utx1J4JWrvso+XFWyvUfcV5AB2eseov62tSrvLfh/wr4ktC/J9brdPi2hHz8U7/Lv7F7jjAABI2uer/66MnrLj4T8H8lVsVvR8z1+fTNZ89+Cdt+ftt9PcfOn1Z+E6J3+n3wrq/FbJmw+I+Z26XAklw6fD1b8ffkXv7CPQASdohrKzpPJv4lnQtZLjmQQjg2Vct42FLR32UhwiM0mW6v8/oexjrIniJxODhmU4VF03bhYjcNtqSwxauHMTJQrml5x9aFcu5J9JJSREn67nvAoAJCvNWfjWiuN6f8Awro/BrB+d8R8xy63U5enp8PTty9+R+3sGpmrP6xMVwWm+FfD/wAL1vw/reY6vmfl9fHgXD29t1fzEegAkLUfVn9YOG4HQ/CvIfheAuD5jzHU81yNJ8uPAuHy+26vcbTUbXT9YGq2P5p8E8h8JbhN+S831Or5dXLfnwLjy/wnt+YikAHf5vqr+MtZ5OffC/J9axZn/D/Mc9uHD0dTgXvw9+P19h0f63sozXxIFnWGVa4WSzpaXIlYhzzHI+kSFNmeyOZKSSt+xdj/AKiHR9Y8h2I+h5h1bLyD5JcbUaVJP8jIBeXSS7ymXqnHtn9I4Ol1ZHccnZFkT0B2OpTSUqUpCVukRIStXHdKO5/fbcUwzi6ayXNL+3ZIyZsLCRKQSi2PitxSy/6j2ts8yW+gJg2eRW1jCTtxjS5zrrZf8qlGQ0QCRqbV74RobkGnXwnq/FbJqx+JeZ49Lhw9HS4erfh78i9/YZ2Aa4ljOmeSYFfUf4mxy12ejNHL8u5XyS/+M0rgv8j47fT81EcVgAlzCdc4EPAW8HzjF0ZjjMV9Umv4zFRJcBavm6bqSPdB7mfAy9z9xzWW5tj711Tz8IxdzDF1iyeS6qycmPOupUSkOGpZESTTx9klsOIABYLK/ExjGWzTyaRpbW/rEW2lK7pyc4uL1UpJKX/KGXBSi27Es1F2LfkNz4vcomYR4u3Mgr+BzazyEtknC3SpSG0K2P8AI9tjFZd9hlWdrNupipVhMkT5SyIlPynVOLMi9vUruAsQfixxulz1OZY1phEqsjlyylWk5+yXIW8SlcnkMkpHFk3O5Gskmeyldu44nCtf/wAH+IOfqf8AAvN+amTZfwrznDj5jn6erwPfj1Pfh32+giIAEi6Vav8A6sVZmfwn4l+I6STT7eZ6Xl+tt+0+RXPbb5e2/wByHNYHnFvpvl1bklG+UezgOdRtSi3SottlJUX1SojMjL7GOfABNd/q/phkEiZbSNISRey+S3iZv3m4ZPK93UtJRuXq78OXEcth2rP4T0pzrC/hXmvxQcQ/PeY4eW6DnP5OB8+Xt8ydvzEegAkLGNWfw5o7mWB/CvMfiORFf8/5jj5fouJXt0+B8uXHb5i2/MKLVr4Jotk2AfCut8anR5vxHzHHo9I0nx6fD1b8ffkXuI9ABLmE65wIeAt4PnGLozHGYr6pNfxmKiS4C1fN03Uke6D3M+Bl7n7jls2yvFbWyq3cVw88XjQ+7qXbJyY5KPkRkpSlERJ9vZJbdxxgAO/1r1V/XHqjZZj8L+Eec6H/AILzHW4dNpDfz8E778N/l+o6DNvETNybX6PqlXVLdVMYdjut17sjroPpNpQaTXxRuSiI/oW24iAAEqai6oYZmOfwMorcDVWm5MXOua+TaKfZnrUtKlJT6Em0Rn1N9v7/AGIthvo2vuJ4Zj+QsYDp8rGrq+hLrpNhMuHJpMR1/OhpCkJ99i9SjMy2+og0AATxA8QmITtMcSw/LdNF5MjHEvJjykZA7D5G6vko+CGv5F3UfsIHABL+VeIQ5GGzcSwrFa7AsesD/wDHtwnFyJMxJeyHH3PUaS+xbe5/QzIarSrWU8BprzG7ikZynD7wkHOqHn1MKJxPdDrTqdzQsj277HvxL7EI1ABMGTa5VMbAbLDMBxP8I1Fs6hy0lSJ6pkuaSD3Qg1mlJIQW5+kiPf8Aqrf3wPX2DXaeFgecYq3mmLMPnJgpKYqLJgOHvy6biSP0nufp7fMfcy7CHAASBP1JqKjPsfyTCMWRiqaZxp9uK9Ocm9d1Dhr5uLURe5bJMiIi2ISmfixxulz1OZY1phEqsjlyylWk5+yXIW8SlcnkMkpHFk3O5Gskmeyldu4rYACXcK1//B/iDn6n/AvN+amTZfwrznDj5jn6erwPfj1Pfh32+g1GiGr36mtSW8s+E/GODL7Xk/M9DfqJNO/Pgr23+wjkAEhaHatfqYzJ6/8AhXxjqQX4Xl/MdDbqERcuXBXtt7bD76Ta0O6cV91RWVNHynELtKU2FLKdU0S1J+VxtxO5trI9vURH7F9SIyjYAEg57l2A3FMiFimBPY7L66XV2Uu5cmOKRsrdokGlKEluZd+5+kedTNWf1iYrgtN8K+H/AIXrfh/W8x1fM/L6+PAuHt7bq/mI9ABIWo+rP6wcNwOh+FeQ/C8BcHzHmOp5rkaT5ceBcPl9t1e46HU7XKj1YwqqZucRWjN62CxWtZBHsFJaWy2rfdbHDY1GXMvm917/AEJIhwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABZjwKYho3l+phMarWa2ZBKR8JrZezVfMd3+V53f39tmz4pV9VH8p1nHnfYB+oepGRUXh18eFJH0s04O9u7WjWxeU9Ns1yN5xKkLbTtwZUlLSVKP0oNKu/H5g04yKi8RXjvu4+qem50V1U0aGKSnudneKmXFKW46nbg8pSXVKSfqQSU9uXzCtvg28bp6BZNLayyoTf1VsbTUu6JPO1jtoSlDaSdV3dZSlJbNGZbfwn9DeMnxunr9k0RrE6hFBVVKnWol0pPC1ktrSpC0m6nu0ypKj3aIz3/AIj+hBpfHViOjeIamnH0ps1vPGpfxatibO18N3f5WXd/f33bLklP0UXylWced9x4ABusKx5eXZlRUbe5rs5zEMtv/mOJR/8AsaUdTpjmbWnuc1mRPQF2ZQDcWiO2/wBFXM21JQol8FbcVGSvlP5dgEkWseNmWt1fVxSxtnGp+RcmmKaFGQuNES7/ABrbbJexNGZ7GrY+J/YY8vSa71NyyBcTPPR5+bzHZ0To1y32GUvPqS2p90lETZGrf2JXFGyjLuRDicfzSmxG6XZVFNOJ46+ZDQUyxQ703X2FspeI0sI+QnDPj9TIu5DxfZxCyiqp0z6+Wm1rK9Fa3JjTEoacQ3y6SlNm2ZkaSMiPZXqJJfKfuHleCQaOrppmS2z9Wq3Qb8eNDhlJdTHJxTfWcI3GySSlIXxIjMzJJn2I08uhrtMKW7o8BhQp0wsjym2dYQ67GT0ERus2whR/tNy2X1lGe3fbb08dz5y9zavymmomLSsknY1EEq5uVFlpQh5lKlqb5IU2rZSee25HsZEXYj3M9vW6sxK13EZiaZ1VhjtXIrWTKYSWVKWclTbxJ6ZmlSXJPMy5d+n9OXpDEk6cVkausbj8R+YoIDrcNc1iEZrflr5n0WUKWRLIkI5qWakkRfczTyy2dHkuzCcXdoj0jmPqyJqwdjHyNknDa4KbJR8Vm8Rt9lGXse57jR1GZxGsJexe1gPy4PxArJh2JJSy4270+mtJ8kLJSVJJP0IyNO/fuR7W51bctqu8gprERWJtfDqIaG3j4w4cd1LvT7p3Wpa0IWpW5erke3fYg2FRpVGkZJhLlbdJk1d209NJ+wrySuOmMpzrdVjqKSpJE0o/n2UW++3chp52G11amqmZNbLp37tvz7cStr0v+XjrUfBay6jZIJWxqShPI+Gx9tyI8mNqwiGiElqoNPkcZkY9GPzX7tb5um9I+T+LzD3o/wBovV2GuybNq/L4FSqxrJKbaurWqwpEaWlDTqGk8GVKQpszJSU8Unsr1cf4QGlxGlXkOT1la3EkT+vIQlbEXYnFo33XsZ9i9JGe59i23PsJdySkxV+N+3KsKjnZW1DhW9M2SUVsBPPrNvObclrNC2VJ5c/3S1Eo9z3i/T/MTwbI/iXlfOsuRJUF5knOmpTT7C2V8V7HxUSXDMj2PuRdj9hlTM0hu4tX4xFgvx6RqeqxlqVISqRJdNJII+XDigkoIySXE+61GZnuREEgZPhLKcU1IlTamBVsU8yK3RpiJT1DJyQaC/aJ3N5tTRKVzWauRpI0n8wybDF6ejorZh2qhuFWYyjz9X00rs4tkvig33V+6EIeWkzSSvSk0IUglKUI1PPFV1bW1lNE8nAiTkWbhSFk6uXJR2QpwyJJcUp3JKC9ua+58htbnVOPIk5pNqqt6FPys1pmPyZRPEy0t4n3W2iJCfmWhPqUZnxI0/U1AOLo6aZkVvErIDRvzJbiWmkb+5n9z+hF7mf0LuJQ1KweNA05xeTXUz8B6NaS6h6RIZU07PPgy40+ZK22JRqeJJfwpQku57mcdU2QIpam2YZi72M5tMdM03P3DB79VKU7fMv0p5b/AC807Hz7dPpvboua1WCSIiHm7i4gzGpLjxpJhbROpUngRbr6iHuOxKT3SkBm3ekUGir80N+/ecscUeaiTWWq8ui5IUtTZttum6RmSVoURnwI9kmoiPYZk/QRbGRWdNDuVWcumjLl3CYkBaziIImiS2kiV+0dU470+BbEW26lF6uO81BySrvKxzIZ0DJKtbd8w8VFcWDa2rJGzhuqSSY7akKQSUI5q6mxOkW/34aPqiqRc5vJtITkuHlprXMbZkdN1pZyEyELQs0mW6Vp2PdPdJqLt2Mg27WgVvJKLKZ88Va5WO2jxv16kS2UNvdE0dAlHyWpZo47K2MlkZmnZW3zRog8UqAuVYu1VZKqJlsqRZQVMvMJj80mhbXIz9S0oJJkZ79QvrukaLH85hUTN/WlXy36S5hoivtKmJJ9CkOodQ4hzp8ey0F6TT3Sai339RfCtzGJSVeTwoNe/vcwW4CH5MslrjoKQ084fZBErl0kp+mxGfuA6qs0eo7WdhrbeWSEMZYvy8DnU/tm3+ubH7VsnjJLfMi2WlalH39HYxiUmidhPrKmfLVOKNazHYsRdZXKmEaW3Omt5ZkpJJRz3IvdR8V9i2LfGrNVkVeR4ZaN1Bm3jFf5SPHKTtze5POk/wAuHp/bPdTjsfy7cvqNfJzeDcYrQVVrXS3H6Rp2NGkRJiWiWyt5b3FaVNq7pW656iP2Mi27bgNo/pVDoK5UvJr5dZtdyqMmIMLzbi1xyb6rqSNbZGgjdSXvv9iP6ZszTCoxOo1IRfzn3LLHrNqliOwWiWyuSa3T5epaTMjRGdLbb08iPufYaBjP46U4My/UnIhY46p6Qwcnbz61STdWe/D9nujpt+yvk3+uxe9pqK3fYvd1s+C6ubY3SropbMgkl1FJUk0rSaD5EXIzIyMvdX37BxIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPZxxTqjUtRrV/eUe5/kPUAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAf/9k=