include ../mixins

.add-button.btn.btn-labeled.btn-primary(ng-click='export()', style='top:155px')
    span.btn-label.white: +icon('disk')
    span.text  &nbsp;Download

.wrapped.addNew

    +userInstructions('my-ftd', true)

    resource-view(template='/partials/resource-view-event-my-ftd.html')