include ../../mixins

td(class='mark {{className}}',  colspan='{{DaysTruncated}}', ng-click='editClass({{Id}})')

    .circle(bio-photo='"{{Instructor.Photo}}"')

    span.pds {{pds}}&nbsp;
    span.instructor {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>
    span.location {{Location}}

    .details

        .container

            h5.border-bottom
                b {{Course.Number}}&nbsp;&nbsp;&nbsp;
                i {{TTMS}}
                b.pull-right {{dateRange}}

            .clearfix

            .wideText {{Course.Title}}

            br

            .col-lg-4.white(edit-students, lookup='{{Id}}')

            .col-lg-8

                i {{Instructor.InstructorName}}

                br

                p
                    b FTD Notes:&nbsp;&nbsp;
                    | {{ClassNotes}}

                p
                    b J4 Notes:&nbsp;&nbsp;
                    | {{J4Notes}}

            .clearfix