include ../../mixins
include ../../mixins

td(class='mark {{className}}',  colspan='{{DaysTruncated}}')

    .circle(bio-photo='"{{bioPhoto}}"')

    span.pds {{pds}}&nbsp;
    span.instructor {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>
    span.location {{Location}}

    .details

        .container

            h4.border-bottom
                | {{Course.Number}}{{TTMS}}
                .pull-right {{dateRange}}

            .clearfix

            i.wideText {{Course.Title}}

            br

            p {{truncate}}
            p {{notesHTML}}

            br
            br

            .eventButtons

                .sub(edit-students, lookup='{{Id}}', templateURL='simple')

                .sub(request-seats, lookup='{{Id}}', templateURL='simple')

                a.sub(ng-click='$event.stopPropagation()', href='mailto:{{mailFTD}}') Contact FTD

            .clearfix
