include ../../mixins

td(class='mark {{className}}',  colspan='{{DaysTruncated}}', ng-click='editClass({{Id}})')

    .circle(bio-photo='"{{bioPhoto}}"')

    span.ttms {{TTMS}}
    span.pds {{pds}}&nbsp;
    span.instructor {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>
    span.location {{Location}}

    .details

        .container

            h4.border-bottom
                | {{Course.Number}}{{TTMS}}
                .pull-right {{dateRange}}

            .clearfix

            i.wideText {{Course.Title}}

            br

            p {{truncate}}
            p {{notesHTML}}
            p {{j4NotesHTML}}

            br
            br

            .eventButtons

                .sub(edit-students, lookup='{{Id}}', templateURL='simple')

                a.sub(ng-click='$event.stopPropagation()', href='{{TTMSLink}}', target='_blank', bs-popover='language.load_ttms', placement='bottom') TTMS Roster

                a.sub(ng-click='$event.stopPropagation()', href='{{J4Email}}') Contact Sheppard

            .clearfix