#resourceView
    #legend

        .btn-success(bs-popover='"Classes with open seats"', placement='right')

        .btn-primary(bs-popover='"Full classes"', placement='right')

        .btn-warning(bs-popover='"Classes currently below student min"', placement='right')

        .btn-danger(bs-popover='"Classes exceeding student max"', placement='right')

        .trainingSession(bs-popover='"Training Session"', placement='right')

        .mtt(bs-popover='"Mobile Training Team"', placement='right')

        .unavailable(bs-popover='"Instructor unavailability"', placement='right')

    iframe#ttmsLoader(name='ttmsLoader')

    table.table.table-bordered: tbody
