@import (reference) "../../../styles/mixins.less";

.fc-sun, .fc-sat {
	opacity: .5;
	background-color: #f3f3f3;
}

.fc-resizer {
	border-bottom-right-radius: 3px;
	border-top-right-radius: 3px;
	height: 100%;
	width: 15px !important;
	background: #3c763d;
}

.fc-resizer:hover {
	background: #428bca;
}

.fc-scroller {
	height: auto !important;
	overflow: visible !important;
}

.fc-widget-header {
	margin-right: 0 !important;
}

.fc-event {
	color: #000;
}

.fc-event.downDay {
	color: #292f32;
	background-color: #e9f1f5;
	border-color: #a3cdd9;
}

.fc-event.primary {
	color: #428bca;
	background-color: #428bca;
	border-color: #428bca;
}

.fc-event.info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #46b8da;
}

.fc-event.success {
	background-color: #dff0d8;
	color: #3c763d;
	border-color: #4cae4c;
}

.fc-event.warning {
	background-color: #fcf8e3;
	color: #8a6d3b;
	border-color: #eea236;
}

.fc-event.danger {
	background-color: #d9534f;
	border-color: #d43f3a;
}

.modal {
	.fc-event {
		opacity: .7;
	}
	.fc-event.success {
		text-align: center;
		font-size: 1.25em;
	}
	.fc-toolbar {
		h2 {
			font-size: 1.2em;
		}
	}
}

.uglyGreenButton .addEvent {

	.fc-day-number {
		transition: all linear 150ms 100ms;
		cursor: pointer;
		padding: 0;
		font-size: 1.25em;
		height: 60px;
		overflow: hidden;
	}

	.fc-day-number:hover {
		color: #398c39 !important;
		background-color: rgba(76, 174, 76, .25);
		font-size: 42px;
		z-index: 999;
	}
}

.fc-time-grid-container {
	display: none;
}

.wrapped {
	.fc {
		margin-top: 5px;
	}
	.fc-axis:first-child {
		display: none;
	}
	.fc-view-container {
		min-height: 75px;
	}
}

.wrapped.addNew {
	.fc-toolbar {
		.fc-right {
			margin-right: 40px;
		}
	}
}

.fc-week.fc-widget-content {
	height: auto !important;
}

/*********************************************/

#ttmsLoader {
	display: none;
}

#resourceView {
	width: 100%;
	table {
		width: 100%;
		border: none;

		td:first-child {
			text-align: left;
		}

		tr:not(.header) td:first-child {
			width: 150px;
			display: block;
			border: none;
			font-size: .95em;
			color: #999;
			letter-spacing: -.05em;
			font-weight: 100;
		}

		tr:hover td:first-child {
			color: #000;
		}

		.event td:first-child:hover {
			transition: none;
		}

	}
	.event {

		td {
			border-color: #eaeaea;
			border-top-width: 2px;
			border-bottom-width: 2px;
			border-collapse: collapse;
			position: relative;
			height: 35px;
		}
		.mark {
			background: @classOpenSeats #fff;
			border: 2px solid #888 !important;
			border-left: 3px solid #555 !important;
			padding: 0;
			z-index: 10;
			overflow: visible;
		}
		.mark.warning {
			background: @classFull
		}
		.mark.danger {
			background: @classOverBooked
		}
		.mark.short {
			background: @classUnderBooked
		}

		.unavailable {
			border: 2px solid #888 !important;
		}

	}

	.mtt {
		background: @classMTT !important;
	}

	.unavailable {
		background: @instructorUnavailable !important;
	}

	.trainingSession {
		background: @classTrainingSession !important;
	}

	.spacer {
		td {
			border-right: none !important;
			padding: 5px;
		}
	}

	.header {
		text-align: center;
		font-weight: 700;

		td:first-child {
			padding-top: 2em;
		}
	}

	.days {
		border-bottom: 3px solid #aaa;
	}

	.footer.months {
		border-bottom: 2px solid #ccc;
	}

	.footer.days {
		border-bottom: none;
		border-top: 3px solid #aaa;
	}

	.weekend {
		font-weight: 300 !important;
		border-left: none !important;
		border-right: none !important;
		padding: 0;
		color: #eee;
		background-color: #eee;
		z-index: 1;
	}

	.downDay {
		background-color: #e9f1f5;
	}
	tr.spacer {
		td {
			height: 0;
			background-color: #fff !important;
		}
	}
	.mark {
		cursor: pointer;

		.mask-img.hide {
			display: block !important;
			opacity: 0;
		}

		.mask-img {
			z-index: 50;
			width: 50px;
			height: 50px;
			position: absolute;
			margin: -10px 0 0 -10px;
			box-shadow: 0 0 10px rgba(50, 50, 50, 0.7);
			opacity: 100;
			transition: all ease 250ms 100ms, opacity ease 500ms;
		}

		.location {
			font-family: "Bookman", Georgia, "Times New Roman", serif;
			text-align: right;
			right: .25em;
			font-size: 1.85em;
			line-height: .85em;
			margin-top: .35em;
			z-index: 999;
		}

		.pds {
			font-size: 1.85em;
			line-height: .85em;
		}
		.ttms {
			opacity: 0;
			top: -12px;
			left: 0;
			font-size: .8em;
		}
		& > span {
			margin-left: 50px;
			margin-top: 10px;
			color: #fff;
			position: absolute;
			text-shadow: 0 0 15px #555;
		}
		.instructor {
			margin-left: 8.5em;
			font-variant: small-caps;
			font-size: 1.25em;
			line-height: 1em;
		}
		.details {
			font-size: 1.15em;
			position: relative;
			margin-left: -3px;
			margin-top: 34px;
			color: #333 !important;
			background-color: rgba(255, 255, 255, 0);
			border-bottom-left-radius: 5px;
			border-bottom-right-radius: 5px;
			width: 600px;
			max-height: 0;
			overflow: hidden;
			transition: all ease 150ms;
			border: none;
			box-shadow: none;
			.container {
				margin: 5px;
				width: 100%;

				.icon * {
					fill: #fff !important;
				}

				.eventButtons {
					position: relative;
					left: -22px;
					width: 600px;
					bottom: -10px;
					border-top: 2px solid #333;
					height: 3.25em;
					background: #555;

					.sub {
						padding-top: .5em;
						height: 100%;
						border-left: 1px solid #333;
						font-size: 1.15em;
						font-variant: small-caps;
						letter-spacing: .1em;
						float: left;
						width: 33.33%;
						text-align: center;
						color: #fff !important;

						a {
							color: #fff !important;
							border-bottom: none;
						}

					}

					.sub:first-child {
						border-left: none;
					}

					.sub:hover {
						background: rgba(76, 174, 76, .95);
					}
				}
			}
		}
		p {
			width: 95%;
			white-space: normal;
		}
	}
	.mark:hover {
		z-index: 30;
		background: @classHover !important;

		.mask-img {
			width: 150px;
			height: 160px;
			margin-top: 0px;
			margin-left: -152px;
			border-radius: 0;
			border-bottom-left-radius: 5px;
			z-index: 50;
			box-shadow: -2px 5px 15px 1px rgba(50, 50, 50, 0.7);
			transition: all ease 250ms 200ms, opacity ease 500ms;
		}
		.pds, .ttms {
			margin-left: 25px;
		}
		.details {
			background-color: rgba(255, 255, 255, .9);
			box-shadow: 0 5px 15px 2px rgba(50, 50, 50, 0.7);
			border: 1px solid #555;
			max-height: 500px;
			transition: all ease 250ms 300ms;
		}
	}
	.double {
		line-height: 1.85em;
		font-variant: small-caps;
	}

	.mark.noPhoto {
		.pds, .ttms {
			margin-left: 5px !important;
		}

		.instructor {
			margin-left: 4.5em !important;
		}
	}

	tr.event td {
		transition: all 200ms ease !important;
	}

	tr.event:hover {
		.ttms {
			opacity: 1;
		}
		td {
			border-top: 2px solid #888 !important;
			border-bottom: 2px solid #888 !important;
			background-color: #ddd;
			transition: all 100ms ease !important;
			border-color: #ddd;
		}
	}

}

#resourceView tr td, #resourceView .mark * {
	transition: all ease 250ms 100ms;
}

#resourceView .mark .details {
	position: absolute;
}

#legend {
	position: fixed;
	left: 177px;
	top: 115px;
	z-index: 25;
	background: rgba(255, 255, 255, .8);
	padding: 5px 5px 5px 0;
	border-top-right-radius: 8px;
	border-bottom-right-radius: 8px;
	div {
		opacity: .8;
		width: 18px;
		height: 25px;
		margin-bottom: 1px;
		border-top-right-radius: 7px;
		border-bottom-right-radius: 7px;
		border: 1px solid rgba(150, 150, 150, .7);
		border-left: none;
	}
	div:hover {
		opacity: 1;
	}
}
