include ../../mixins

td(class='mark {{className}}',  colspan='{{DaysTruncated}}', ng-click='editClass({{Id}})')

    .circle(bio-photo='"{{Instructor.Photo}}"')

    span.pds {{pds}}&nbsp;
    span.instructor {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>
    span.location {{Location}}

    .details

        .container

            h4.border-bottom
                | {{Course.Number}}{{TTMS}}
                .pull-right {{dateRange}}

            .clearfix

            i.wideText {{Course.Title}}

            br
            br

            p {{notesHTML}}
            p {{j4NotesHTML}}

            .white

                div(edit-students, lookup='{{Id}}')

                .btn.btn-info.btn-labeled.btn-muted(bs-modal='modal', template='/partials/iframe-ttms.html', hover='load-ttms')
                    span.btn-label: +icon('printer')
                    span.btn-text View TTMS

            .clearfix