include ../../mixins

td(class='mark {{className}}',  colspan='{{DaysTruncated}}', ng-click='editClass({{Id}})')

    .circle(bio-photo='"{{bioPhoto}}"')

    span.pds {{pds}}&nbsp;
    span.instructor {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>
    span.location {{Location}}

    .details

        .container

            h4.border-bottom
                a.btn-link(ng-click='$event.stopPropagation()', href='{{etca}}', target='_blank') {{Course.Number}}{{TTMS}}
                .pull-right {{dateRange}}

            .clearfix

            i.wideText {{Course.Title}}

            br

            p {{notesHTML}}
            p {{j4NotesHTML}}

            h4.text-center

                .col-lg-5(edit-students, lookup='{{Id}}', templateURL='simple')

                .col-lg-6: a(ng-click='$event.stopPropagation()', href='{{TTMSLink}}', target="ttmsLoader", bs-popover='language.load_ttms', placement='top') Open Start/Grad Roster


            .clearfix