@import (reference) '../../../../bower_components/bootstrap/less/variables';

#external-links {
	min-width: 150px;
	list-style: none;
	display: block;
	padding: 0;
	margin: 0;

	li {
		display: block;
		padding: 3px 20px;
		clear: both;
		font-weight: normal;
		line-height: 1.42857143;
		margin-left: -10%;
		width: 120%;
		white-space: nowrap;

		a {
			color: #333333;
		}
	}

	li:hover, li:hover a {
		color: #fff!important;
		background: @brand-info !important;
		cursor:hand!important;
	}

}