mixin link(title, explanation, link)

    li

        a(href=link, target='_blank')

            b #{title}

            i #{explanation}



ul#external-links.dropdown-menu

    +link('ETCA', 'Course Info', 'https://www.my.af.mil/etcacourses')

    li.divider

    +link('OTA', 'MilPDS', 'https://milpdsprod.csd.disa.mil')

    +link('STARS', 'Instructor Management', 'https://www.my.af.mil/ccafstarsprod/STARS/do/user/welcome')

    +link('TTMS', 'Student Management', 'https://sm.ttms.us.af.mil/plateau/admin/login.jsp')
