include ../../mixins

.floating-instructions.alert.alert-warning
    .pageMessage.
        Seat reservations in FTSS are assigned to a unit, TRQI and quota type. J4 Scheduling uses this data to specify the
        correct allocations in TPS, which flows to OTA/TTMS.  These reservations are then filled with student
        names either through requests from a UTM or on this screen by a FTD scheduler. FTD schedulers are responsible for
        loading AJ40 students into OTA and the Guard Bureau is notified for CC10 students.

    br

    .italics For open seat calculations, only the quantity of seats is used, not how many students currently fill a reservation.


form(name='modal')

    .modal-header.caps: h3: +icon('student_hand', 'View/Manage Seat Reservations')

    .modal-body

        manage-reservations

    +modalFooter()