#manage-reservations {

	.selectize-input.ng-dirty, input.ng-dirty, textarea.ng-dirty {
		background-color: #dff0d8 !important;
	}

	.panel:not(:hover) {

		.selectize-input, .selectize-input *, input, textarea {
			border-color: transparent !important;
			background-color: transparent !important;
			box-shadow: none !important;
			color: #333 !important;
		}

		.selectize-input.ng-dirty .item, input.ng-dirty, textarea.ng-dirty {
			font-style: italic;
		}

		.selectize-input:after {
			display: none;
		}

		.remove .btn {
			visibility: hidden;
		}

		textarea.form-control:-ms-input-placeholder,
		textarea.form-control::-webkit-input-placeholder {
			color: transparent !important;
		}

	}

	.selectize-input:after {
		display: none;
	}

	.item i, .item right {
		display: none;
	}

	.host {
		width: ~'calc(100% - 240px)' !important;
		.selectize-input .item {
			padding-left: 15px;
		}
		.selectize-control {
			width: 95%;
		}

		.selectize-dropdown {
			width: 350px !important;;
		}

	}

	.trqi {
		width: 75px;
		.selectize-control {
			height: 34px !important;
			width: 70px !important;
		}
	}

	.quotaType {
		width: 50px;

		.selectize-control {
			height: 34px !important;
			width: 48px !important;
		}
	}

	.qty {
		width: 50px;
		.selectize-input {
			text-align: center;
		}
	}

	.panel-heading {
		height: 55px;

		.selectize-input, input {
			border: none !important;
			box-shadow: inset 0px -8px 5px -6px rgba(85, 85, 85, 0.91);
			border-radius: 0;
			background-color: transparent;
		}

		.selectize-dropdown {
			width: 250px !important;;
		}

		.qty .selectize-dropdown {
			width: 100px !important;;
		}

		& > div {
			float: left;
			margin-right: 7px;
		}
	}

	.panel {
		position: relative;
	}

	.remove .btn {
		position: absolute;
	}

	.row {
		margin: 0;
	}

	.mailHost {
		position: absolute;
		z-index: 99;
		left: 15px;
		top: 14px;
	}

}