include ../../mixins

#manage-reservations

    table.table.table-condensed(ng-if='data.Reservations_JSON.length')

        thead
            tr
                th Unit
                th TRQI
                th Type
                th Seats
                th

        tbody
            tr(ng-repeat='reservation in data.Reservations_JSON')
                td.host: select(selectize='hostList', bind='reservation.HostId', remember='host', required)
                td.trqi: select(selectize='trqiTypes', bind='reservation.TRQI', remember='trqi', required)
                td.quotaType: select(selectize='quotaTypes', bind='reservation.Quota', remember='quota', required)
                td.qty: input.form-control(ng-model='reservation.Qty', ng-change='updateTotals()', type='number', min=1, required)
                td.remove: .btn.btn-sm.btn-danger.white(ng-click='removeReservation($index)'): +icon('times')


    .row(ng-if='data.allHaveValues')
        .btn.btn-info.btn-labeled.white.pull-right(ng-click='addReservation()')
            span.btn-label: +icon('plus-circle')
            span Add Reservation

