#manage-reservations {

	.panel:not(:hover) {

		.selectize-input, input {
			border-color: transparent !important;
			background-color: transparent !important;
			box-shadow: none !important;
		}

		.selectize-input:after {
			display: none;
		}

		.remove .btn {
			visibility: hidden;
		}

	}

	.selectize-input:after {
		display: none;
	}

	.item i, .item right {
		display: none;
	}

	.host {
		width: ~'calc(100% - 260px)' !important;
		.selectize-input .item {
			padding-left: 15px;
		}
		.selectize-control {
			width: 95%;
		}

		.selectize-dropdown {
			width: 350px !important;;
		}

	}

	.trqi {
		width: 75px;
		.selectize-control {
			height: 34px !important;
			width: 70px !important;
		}
	}

	.quotaType {
		width: 50px;

		.selectize-control {
			height: 34px !important;
			width: 48px !important;
		}
	}

	.qty {
		width: 75px;
	}

	.panel-heading {
		height: 55px;

		.selectize-dropdown {
			width: 250px !important;;
		}

		& > div {
			float: left;
			margin-right: 7px;
		}
	}

	.remove .btn {
		position: absolute;
	}

	.row {
		margin: 0;
	}

	.request {
		position: relative;
	}

	.mailHost {
		position: absolute;
		z-index: 99;
		left: 15px;
		top: 14px;
	}

}