#rightScroll {
    left: 50%;
}

#rightScroll tr td:first-child {
    border-left: 1px solid #ccc !important;
}

#rightScroll tr {
    border-right: 1px solid #ccc;
}

#rightScroll h3,
#manage-ftd #embed h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#manage-ftd #embed h3 {
    margin-top: 0;
}

#manage-ftd #embed #cancel {
    display: none;
}

#manage-ftd #embed .modal-footer {
    border-top: none;
    padding-right: 0;
}

#manage-ftd .cleanPhoto {
    width: 100px;
    padding-left: 25px!important;
}

#manage-ftd td:not(.submitting) .sending,
#manage-ftd td.submitting photo {
    transition:none!important;
    display: none!important;
#manage-ftd .item a {
    border-bottom: none;
}