#rightScroll {
    left: 58%;
}

#rightScroll tr td:first-child {
    border-left: 1px solid #ccc !important;
}

#rightScroll tr {
    border-right: 1px solid #ccc;
}

#rightScroll h3,
#manage-ftd #embed h3 {
    margin-top: 10px;
    margin-bottom: 10px;
}

#manage-ftd #embed h3 {
    margin-top: 0;
}

#manage-ftd #embed #cancel {
    display: none;
}

#manage-ftd #embed .modal-footer {
    border-top: none;
    padding-right: 0;
}

#manage-ftd td:first-child {
    width: 100px;
    padding-left: 25px !important;
}

#manage-ftd .sending:not(.submitting),
#manage-ftd .submitting + photo {
    transition: none !important;
    display: none !important;
}

#manage-ftd #add-aside.dragover .mask-img {
    background-size: 100px;
}

#manage-ftd .mask-img.invalid {
    border-radius: 6px;
    box-shadow: none;
}

#manage-ftd .item a {
    border-bottom: none;
}

#manage-ftd td > .pull-right > .btn {
    display: block;
}

#manage-ftd #add-aside,
#manage-ftd .add-button {
    transition: ease all 1s;
}

#manage-ftd #add-aside {
    left: 100%;
    width: 43.75% !important;
    padding: 1%;
    background: #fff;
    border: 1px solid #4cae4c;
}

#manage-ftd #embed,
#manage-ftd #rightScroll {
    transition: ease opacity 1s;
}

#manage-ftd .addNew + #embed,
#manage-ftd .addNew + #embed + #rightScroll {
    opacity: .1;
}

#manage-ftd .addNew #add-aside {
    left: 56.25% !important;
}

#manage-ftd .add-button:hover {
    right: 0;
    left: calc(100% - 175px);
}

#manage-ftd .addNew .add-button {
    right: 43% !important;
    left: calc(56.25% - 45px) !important;
}

#manage-ftd #add-aside .modal-footer {
    padding: 2px 0 0 0;
}

#manage-ftd td .text-success {
    line-height: 19px;
}

#manage-ftd tr:hover .chartMonths i {
    color: #aaa;
}

#manage-ftd .chartMonths em {
    border-bottom: 1px solid #46b8da;
    background: #46b8da;
    width: 100%;
    bottom: 0;
    left: 0;
    position: absolute;
}

#manage-ftd .chartMonths i {
    background: none;
    color: transparent;
    font-size: .65em;
    line-height: 55px;
}

#manage-ftd .chartMonths b {
    font-weight: 400;
    position: relative;
    height: 20px;
    line-height: 20px;
    float: left;
    margin-left: 2%;
    width: 6%;
    text-align: center;
}

#manage-ftd .chartMonths {
    height: 25px;
    width: 100%;
}

#manage-ftd .chartMonths + .clearfix {
    height: 13px;
}
