include ../__mixins

form.form-horizontal(name='modal')

    .modal-header.caps

        h3
            +icon('graph_pie')
            | {{data.InstructorName}}'s Stats

    .modal-body

        table.table.table-striped

            thead

                tr

                    th PDS
                    td TTMS
                    td Dates
                    td Students

            tbody

                tr(ng-repeat='stat in stats')

                    td {{stat.Course.PDS}}
                    td {{stat.TTMS}}
                    td {{stat.startText}} - {{stat.endText}}
                    td {{stat.allocatedSeats}}


    +modalFooter()
