fake

    | {{Instructor.PhotoThumb}}

    span {{Course.PDS}}: {{Instructor.InstructorName}}

    .details

        .container

            h5.border-bottom
                b {{Course.PDS}} - {{Course.Number}}
                b.pull-right {{startText}} - {{endText}}

            .clearfix

            .wideText {{Course.Title}}

            br

            b Seats

            .clearfix

            .col-lg-3
                span.archiveExclude(class='btn btn-{{openSeatsClass}}') {{openSeats}} Open

            dl.dl-horizontal.col-lg-3
                dt Min
                dd {{Course.Min}}

                dt Max
                dd {{Course.Max}}

            dl.dl-horizontal.col-lg-3
                dt Host
                dd {{Host}}

                dt Non-host
                dd {{Other}}

            dl.dl-horizontal.col-lg-3

                dt Approved
                dd {{approvedSeats}}

                dt Pending
                dd {{pendingSeats}}

            .clearfix

            b FTD Notes
            p {{ClassNotes}}

            b J4 Notes
            p {{J4Notes}}

