include ../mixins

form(name='modal')

    .modal-header.caps: h3: +icon('student_hand', 'View Registered Students')

    .modal-body

        h4.italics This class has {{::data.allocatedSeats}} reserved seats.

        br

        table.table.table-split

            tbody

                tr(hover='scheduled-seats-host', right)
                    td Reserved Host Seats
                    td.text-center {{::data.Host}}

                tr(hover='scheduled-seats-non-host', right)
                    td Other Reserved Seats
                    td.text-center {{::data.Other}}

        +loadStudents()

    .modal-footer: .btn.btn-default(ng-click='close()') Continue