include ../mixins

form.form-horizontal(name='modal')

    .modal-header.caps
        h3: +icon('student_hand', 'View Registered Students')

    #requestSeats.modal-body

        h4.italics This class has {{::row.allocatedSeats}} reserved seats.

        br

        table.table.table-split

            tbody

                tr(hover='scheduled-seats-host', right)
                    td Reserved Host Seats
                    td.text-center {{::row.Host}}

                tr(hover='scheduled-seats-non-host', right)
                    td Other Reserved Seats
                    td.text-center {{::row.Other}}

        h4.italics(ng-if='loadingStudents') Please wait, loading the list of students...

        div(ng-if='!loadingStudents'): +registeredStudents('students')

    .modal-footer: .btn.btn-default(ng-click='close()') Continue