td(class='mark {{className}}',  colspan='{{Days}}', id='{{Id}}')

    div(class='{{Instructor.Photo}}') {{bioPhoto}}

    span.pds {{pds}}&nbsp;
    span.instructor {{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>
    span.location {{Location}}

    .details

        .container

            h5.border-bottom
                b {{Course.Number}}&nbsp;&nbsp;&nbsp;
                i {{TTMS}}
                b.pull-right {{dateRange}}

            .clearfix

            .wideText {{Course.Title}}

            i {{Instructor.InstructorName}}

            br

            .clearfix

            b FTD Notes
            p {{ClassNotes}}

            b J4 Notes
            p {{J4Notes}}

            .pull-right.invert

                .btn.btn-info.btn-labeled(ng-click='row.showStudents()')
                    span.btn-label
                    | Students ({{allocatedSeats}})

