td(class='mark {{className}}',  colspan='{{Days}}', id='{{Id}}')

    div(class='{{Instructor.Photo}}') {{bioPhoto}}

    span.pds {{pds}}&nbsp;
    span.instructor <i>{{ttms}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>

    .details

        .container

            h5.border-bottom
                b {{Course.PDS}} - {{Course.Number}}&nbsp;&nbsp;&nbsp;
                i {{TTMS}}
                b.pull-right {{dateRange}}

            .clearfix

            .wideText {{Course.Title}}

            i {{Instructor.InstructorName}}

            br

            .clearfix

            .col-lg-3.double {{allocatedSeats}} Students

            .clearfix

            b FTD Notes
            p {{ClassNotes}}

            b J4 Notes
            p {{J4Notes}}

