td(class='mark {{className}}',  colspan='{{Days}}', id='{{Id}}')

    div(class='{{Instructor.Photo}}') {{bioPhoto}}

    span.pds {{pds}}&nbsp;
    span.instructor <i>{{ttms}}</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{name}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <b>{{MTT}}</b>

    .details

        .container

            h5.border-bottom
                b {{Course.PDS}} - {{Course.Number}}&nbsp;&nbsp;&nbsp;
                i {{TTMS}}
                b.pull-right {{dateRange}}

            .clearfix

            .wideText {{Course.Title}}

            i {{Instructor.InstructorName}}

            br
            br

            b Seats

            .clearfix

            .col-lg-3.double {{allocatedSeats}}

            dl.dl-horizontal.col-lg-3
                dt Min
                dd {{Course.Min}}

                dt Max
                dd {{Course.Max}}

            dl.dl-horizontal.col-lg-3
                dt Host
                dd {{Host}}

                dt Non-host
                dd {{Other}}

            dl.dl-horizontal.col-lg-3

                dt Approved
                dd {{approvedSeats}}

                dt Pending
                dd {{pendingSeats}}

            .clearfix

            b FTD Notes
            p {{ClassNotes}}

            b J4 Notes
            p {{J4Notes}}

