include ../mixins

- var columns = {'Dates':18, Unit:15, Open:5, Seats:5, Comments: 40}

.wrapped.noAdd

    +userInstructions('my_unit', true)

    +grouping()

        +tableBody(columns)(placement='left', hover='{{::row.studentList}}', hoverClass="leftBarOverlayHover")

            td
                .double.approved(bs-popover='"Request approved"'): +icon('check')
                .double.denied(bs-popover='"Request denied"'): +icon('times')
                .double.canceled(bs-popover='"Request canceled"'): +icon('times')
                .double.pending(bs-popover='"Request pending"'): +icon('wait')

            td {{::row.Class.dateRange}}

            td {{::row.Unit.LongName}}

            td.double {{::row.Class.openSeats}}

            td.double {{::row.count}}

            td(style='overflow:visible')

                p(ng-if='row.Notes') <b>{{::host.LongName}}:</b> {{::row.Notes}}

                p(ng-if='row.Response') <b>{{::row.Unit.LongName}}:</b> {{::row.Response}}

            td.text-right.overrideLabel(edit-students)