#my-unit {

	tr .approved,
	tr .pending,
	tr .denied {
		display: none;
	}

	tr.text-success .approved,
	tr.text-info .pending,
	tr.text-danger .denied {
		display: inline-block;
	}

	.leftBarOverlayHover {
		font-size: .75em
	}

}
