include ../mixins

#rightScroll.wrapped(ng-if='!ftss.showAlternateView')

        div.col-lg-5

            table.table.table-striped.table-expanded.table-hover

                tbody

                    tr.am-fade-and-slide-left.traverse(ng-repeat='row in instructors track by row.Id',
                                        ng-click='stats()',
                                        traverse='{{row.Id}}',
                                            hover='{{row.historyList}}',
                                        hoverClass='leftBarOverlayHover')

                        td: .circle(bio-photo='row.Photo', style='width:100px;height:100px')

                        td

                            h4 {{row.Name}}

                            br

                            .chartMonths(ng-bind-html='row.chart | trust_html')

                            .clearfix

                            br

                            .pull-left.btn-success(ng-style='{width:row.annualEffectiveness+"%"}') &nbsp;
                            .pull-left.italics.text-success &nbsp;{{::row.stats.annualHours}} hours/yr

#rightScroll.wrapped(ng-if='ftss.showAlternateView')

        div

            h3 Course List

            table.table.table-striped.table-expanded.w45

                thead

                    tr

                        th.w10 Dates
                        td.w5 PDS
                        td.w5 Students

                tbody


                    tr.am-fade-and-slide-right.traverse(ng-repeat='row in flatList')

                        td {{::row.dateRange}}

                        td {{::row.Course.PDS}}

                        td {{::row.allocatedSeats}}

#embed.col-lg-7.pull-right

    br

    #ftdStats

        h3 Last 12 Months

        table.table.table-split(style='font-size:1.25em')
            tr
                td Instructor Hours
                td {{ftdStats.hours | number}}
            tr
                td Active Instructors
                td {{ftdStats.instructors | number}}

            tr
                td Classes Taught
                td {{ftdStats.classes | number}}

            tr
                td Students
                td {{ftdStats.students | number}}

    #ftdChart.am-fade.ng-enter
        linechart(data='graph', options='graphOptions')
