#production-ftd {

	.leftBarOverlayHover {
		margin-top: 100px;
		.popover-content {
			padding: 10px;
		}

	}

	#rightScroll {
		left: 0;
		right: 0;
		tr {
			border-right: 1px solid #ccc;
			td:first-child {
				border-left: 1px solid #ccc !important;
			}
		}
	}

	#rightScroll h3, #embed h3 {
		margin-top: 10px;
		margin-bottom: 10px;
	}

	#ftdStats {
		position: absolute;
		left: 20%;
		width: 40%;
		background: rgba(255, 255, 255, .8);
		z-index: 50;
	}

	#ftdChart:hover {
		z-index: 75;
	}

	#ftdChart {
		position: absolute;
		top: 10%;
		right: 5%;
		left: 5%;
		bottom: 5%;

		svg {
			overflow: visible;

			.legend {

				text {
					font-size: 15px;
				}
			}

			.scrubberText {
				font-size: 14px;
				letter-spacing: 1px;
				font-weight: 500;
			}

			.scrubberText.series_2 {
				font-weight: 600;
				fill: #333;
			}

			.y.axis, .y2.axis {

				text {
					font-weight: 700;
				}

			}

			.x.axis {

				.tick {

					line {
						stroke: #aaa;
						stroke-width: 1px;
					}

					text {
						text-anchor: end !important;
						font-size: 12px;
						font-weight: 600;
					}

				}

				.tick:first-child line {
					visibility: hidden;
				}
			}
		}
	}

	#embed {
		height: 100%;
		h3 {
			margin-top: 0;
		}
		#cancel {
			display: none;
		}
	}

	#rightScroll {
		td:first-child {
			width: 100px;
			padding-left: 25px !important;
		}

		tr:hover {
			td h4 {
				text-decoration: underline;
			}
		}
	}

	.mask-img.invalid {
		border-radius: 6px;
		box-shadow: none;
	}

	.item {
		a {
			border-bottom: none;
		}
	}

	td {
		& > .pull-right {
			& > .btn {
				display: block;
			}
		}
		.text-success {
			line-height: 19px;
		}
	}

	tr:hover {
		.chartMonths {
			i {
				color: #aaa;
			}
			i:first-child {
				color: #333;
			}
		}
	}

	.chartMonths {
		height: 25px;
		width: 100%;
		em {
			border-bottom: 1px solid #46b8da;
			background: #46b8da;
			width: 100%;
			bottom: 0;
			left: 0;
			position: absolute;
		}
		i:first-child {
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			line-height: 0;
			font-size: 0.9em;
			z-index: 20;
		}
		i {
			background: none;
			color: transparent;
			font-size: .65em;
			line-height: 55px;
		}
		b {
			font-weight: 400;
			position: relative;
			height: 20px;
			line-height: 20px;
			float: left;
			margin-left: 2%;
			width: 6%;
			text-align: center;
		}
		& + {
			.clearfix {
				height: 13px;
			}
		}
	}

}