include images

doctype html

html(lang="en")

    head
        title FTSS 3 Development Documentation

        style: include css/bootstrap.min.css
        style: include css/bootstrap-yeti.min.css
        style: include css/docs.css

    body(data-spy="scroll", data-target="#toc")

        .navbar.navbar-default.navbar-fixed-top

            .container

                #navbar-main.navbar-collapse.collapse

                    ul.nav.navbar-nav.col-lg-12

                        li: a(href='https://cs3.eis.af.mil/sites/OO-ED-AM-11/FTSS/development') Team Planning Site

                        li: a(href='https://github.com/jeff-mccoy/FTSS') Source Code (GitHub)

                        li: a(href='https://cs3.eis.af.mil/sites/OO-ED-AM-11/index.html') Production Site

                        li.pull-right: a(href='mailto:jeffrey.mccoy.2@us.af.mil?subject=FTSS') Email Jeff McCoy (Lead Developer)

        .container

            nav#toc

                ul.nav.sidenav.text-right

                    li: a(href='#overview') Overview
                    li: a(href='#technologies') Technologies
                    li: a(href='#file-structure') File Structure
                    li: a(href='#data-structure') Data Structure
                    li: a(href='#dev-environment') Dev Environment

            #banner.page-header
                .row
                    .col-lg-8
                        h1 Field Training Scheduling System 3
                        .lead Developer's Guide

            #content

                section

                    include sections/overview


                section

                    h2#technologies Technologies Used

                    hr

                    include sections/technologies


                section

                    h2#file-structure File Structure

                    hr

                    include sections/file-structure

                section

                    h2#data-structure Data Structure

                    hr

                    include sections/data-structure

                section

                    h2#dev-environment Development Environment Setup

                    hr

                    include sections/dev-environment

                br
                br

            footer: a.pull-right(href='#top') Back to top

            br

        script: include js/jquery.min.js
        script: include js/bootstrap3.min.js
        script: include js/docs.js