include images

doctype html

html(lang="en")
    head
        title FTSS 3 Documentation

        style: include css/bootstrap.min.css
        style: include css/bootstrap-yeti.min.css
        style: include css/docs.css

        script: include js/jquery.min.js
        script: include js/bootstrap3.min.js
        script: include js/docs.js

        script(src='http://localhost:35729/livereload.js?snipver=1')

    body(data-spy="scroll", data-target="#toc")

        .navbar.navbar-default.navbar-fixed-top
            .container
            .navbar-header
              a.navbar-brand(href='../') FTSS 3
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbar-main.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.dropdown
                  a#themes.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Sections
                    span.caret
                li
                  a(href='../help/') Email Support

        .container

            nav#toc
                ul.nav.sidenav.text-right
                    li
                         a(href='#overview') Overview
                    li
                        a(href='#technologies') Technologies
                    li
                        a(href='#file-structure') File Structure
                    li
                        a(href='#data-structure') Data Structure
                    li
                        a(href='#dev-environment') Dev Environment
                    li
                        a(href='#git') Using GIT

            #banner.page-header
                .row
                    .col-lg-8
                        h1 Field Training Scheduling System 3
                        .lead Developer's Guide

            #content

                section

                    h2#overview Development Overview

                    hr

                    include sections/overview


                section

                    h2#technologies Technologies Used

                    hr

                    include sections/technologies


                section

                    h2#file-structure File Structure

                    hr

                    include sections/file-structure

                section

                    h2#data-structure Data Structure

                    hr

                    include sections/data-structure

                section

                    h2#dev-environment Development Environment Setup

                    hr

                    include sections/dev-environment


                section

                    h2#git GitHub and Source Code Management

                    hr

                    include sections/git

                br
                br

            footer
                .row
                    .col-lg-12
                        a.pull-right(href='#top') Back to top

                        p
                              | Made by&nbsp;
                              a(href='http://www.linkedin.com/in/jeffsmccoy', rel='nofollow') Jeff McCoy
                              | . Contact him at&nbsp;
                              a(href='mailto:jeffrey.mccoy.2@us.af.mil') jeffrey.mccoy.2@us.af.mil
                              | .
