include images

doctype html

html(lang="en")
    head
        title FTSS 3 Documentation

        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css', rel='stylesheet')
        link(href='css/docs.css', rel='stylesheet')

        script(src='js/jquery.min.js')
        script(src='js/bootstrap3.min.js')

        script(src='js/docs.js')

    body

        .navbar.navbar-default.navbar-fixed-top
            .container
            .navbar-header
              a.navbar-brand(href='../') FTSS 3
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbar-main.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.dropdown
                  a#themes.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Sections
                    span.caret
                li
                  a(href='../help/') Email Support

        nav#toc

            ul.nav.sidenav.text-right(data-spy="affix")

                li.active
                    a(href='#overview') Overview

                li
                    a(href='#technologies') Technologies
                li
                    a(href='#file-structure') File Structure
                li
                    a(href='#dev-environment') Dev Environment
                li
                    a(href='#git') Using GIT


        .container

            #banner.page-header
                .row
                    .col-lg-8
                        h1 Field Training Scheduling System 3
                        .lead Developer's Guide

            #content

                section#overview

                    h3 Development Overview

                    p.

                        FTSS is a client-side Model View Controller (MVC) web application.  The app is written
                        in JavaScript (JS) using Google's AnguarJS framework.  All backend code travels through an
                        open-source library, angular-sp, to an eis.af.mil SharePoint (SP) 2010 instance.  Security is handled
                        through SP's native interface.  The angular-sp library creates Representation State Transfer (REST)
                        queries that are Microsoft Open Data Protocal (oData) 2.0 compliant.  This library also builds
                        Atomicity, Consistency, Isolation, Durability (ACID) compliant batch transactions as well as
                        transparent caching and JS Object Notation (JSON)/datetime conversions.

                    p.

                        FTSS 3 also makes heavy use of HTML 5 and CSS 3 features that require a modern browser.  To deal
                        with this limtitation, browser detection is incorporated which redirects users of unsupported
                        browsers to an update page with instructions on how to continue.  All HTML is written in JADE, a
                        terse templating language for NodeJS.  The use of Jade mixins at build time allow the creation of
                        very complex HTML and behaviors with little code.  Finally, icomoon.io is used to manage and
                        compile the applications icon library into a single Scalable Vector Graphics (SVG) file.  SVG was
                        chosen for it's flexibility (CSS-rule inheritance and lossless scaling) and because it was not
                        blocked by standard AF policy.  Web fonts are a popular alternative but are blocked in IE on
                        AFNET.

                    p.

                        In the event of catastrophic dataloss requiring the complete replacement of the SP instance,
                        the FTSS.wsp file holds the entire SP solution and base data needed to create a new copy of
                        FTSS.  Once loaded, the source should be updated to point to the new SP instance and code
                        re-compiled using Brunch.


                hr

                section#technologies

                    h3 Technologies Used

                    p.

                        Click on any of the icons below to view more resources for that technology.

                    p.logos

                        +img-angularjs()
                        +img-bootstrap()
                        +img-brunch()
                        +img-css3()
                        +img-html5()
                        +img-github()
                        +img-jquery()
                        +img-lodash()
                        +img-nodejs()
                        +img-momentjs()
                        +img-sharepoint()


            br

            footer
                .row
                    .col-lg-12
                        a.pull-right(href='#top') Back to top

                        p
                              | Made by&nbsp;
                              a(href='http://www.linkedin.com/in/jeffsmccoy', rel='nofollow') Jeff McCoy
                              | . Contact him at&nbsp;
                              a(href='mailto:jeffrey.mccoy.2@us.af.mil') jeffrey.mccoy.2@us.af.mil
                              | .



