include images

doctype html

html(lang="en")
    head
        title FTSS 3 Documentation

        link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
        link(href='//netdna.bootstrapcdn.com/bootswatch/3.1.1/yeti/bootstrap.min.css', rel='stylesheet')
        link(href='css/docs.css', rel='stylesheet')

        script(src='js/jquery.min.js')
        script(src='js/bootstrap3.min.js')

        script(src='js/docs.js')

    body

        .navbar.navbar-default.navbar-fixed-top
            .container
            .navbar-header
              a.navbar-brand(href='../') FTSS 3
              button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-main')
                span.icon-bar
                span.icon-bar
                span.icon-bar
            #navbar-main.navbar-collapse.collapse
              ul.nav.navbar-nav
                li.dropdown
                  a#themes.dropdown-toggle(data-toggle='dropdown', href='#')
                    | Sections
                    span.caret
                li
                  a(href='../help/') Email Support

        nav#toc

            ul.nav.sidenav.text-right(data-spy="affix")

                li.active
                    a(href='#overview') Overview

                li
                    a(href='#technologies') Technologies
                li
                    a(href='#file-structure') File Structure
                li
                    a(href='#dev-environment') Dev Environment
                li
                    a(href='#git') Using GIT


        .container

            #banner.page-header
                .row
                    .col-lg-8
                        h1 Field Training Scheduling System 3
                        .lead Developer's Guide

            #content

                section#overview

                    h3 Development Overview

                    p.

                        FTSS is a client-side Model View Controller (MVC) web application.  The app is written
                        in JavaScript (JS) using Google's AnguarJS framework.  All backend code travels through an
                        open-source library, angular-sp, to an eis.af.mil SharePoint (SP) 2010 instance.  Security is handled
                        through SP's native interface.  The angular-sp library creates Representation State Transfer (REST)
                        queries that are Microsoft Open Data Protocal (oData) 2.0 compliant.  This library also builds
                        Atomicity, Consistency, Isolation, Durability (ACID) compliant batch transactions as well as
                        transparent caching and JS Object Notation (JSON)/datetime conversions.

                    p.

                        FTSS 3 also makes heavy use of HTML 5 and CSS 3 features that require a modern browser.  To deal
                        with this limtitation, browser detection is incorporated which redirects users of unsupported
                        browsers to an update page with instructions on how to continue.  All HTML is written in JADE, a
                        terse templating language for NodeJS.  The use of Jade mixins at build time allow the creation of
                        very complex HTML and behaviors with little code.  Finally, icomoon.io is used to manage and
                        compile the applications icon library into a single Scalable Vector Graphics (SVG) file.  SVG was
                        chosen for it's flexibility (CSS-rule inheritance and lossless scaling) and because it was not
                        blocked by standard AF policy.  Web fonts are a popular alternative but are blocked in IE on
                        AFNET.

                    p.

                        In the event of catastrophic dataloss requiring the complete replacement of the SP instance,
                        the FTSS.wsp file holds the entire SP solution and base data needed to create a new copy of
                        FTSS.  Once loaded, the source should be updated to point to the new SP instance and code
                        re-compiled using Brunch.


                hr

                section#technologies

                    h3 Technologies Used

                    p.

                        Click on any of the icons below to view more resources for that technology.

                    p.logos

                        +img-angularjs()
                        +img-bootstrap()
                        +img-brunch()
                        +img-css3()
                        +img-html5()
                        +img-github()
                        +img-jquery()
                        +img-lodash()
                        +img-nodejs()
                        +img-momentjs()
                        +img-sharepoint()


                section

                    h2#file-structure File Structure

                    hr

                    p.

                        This section details overall file structure and highlights some import files.  You can click to
                        expand or collapse folders.

                    .tree.well
                        ul
                            li.muted
                                span
                                    i.icon-folder-open
                                    | _public
                                | &nbsp;This folder holds the application build and is not synced in GitHub.

                            li.text-primary
                                span
                                    i.icon-folder-open
                                    | app
                                | &nbsp;This is the main app source code (no library code).
                                ul
                                    li
                                        span
                                            i.icon-folder-open
                                            | assets
                                        | &nbsp;Stores any static content that should be copied to _public during build.  Right now it only holds our migration page.

                                    li
                                        span
                                            i.icon-folder-open
                                            | controllers
                                        | &nbsp;Holds global controllers that are shared across the entire app.

                                    li
                                        span
                                            i.icon-folder-open
                                            | directives
                                        | &nbsp;Stores the JS for our AngularJS directives.

                                    li
                                        span
                                            i.icon-folder-open
                                            | partials
                                        | &nbsp;The majority of our view or feature-specific view and controller code.  Organized by view/feature.

                                        ul

                                            li
                                                span
                                                    i.icon-file-xml
                                                    | __mixins.jade
                                                | &nbsp;A collection of powerful Jade functions that are only run once (at build-time).

                                    li
                                        span
                                            i.icon-folder-open
                                            | scripts
                                        | &nbsp;Holds JS shared across the entire app but not a directive or controller.

                                        ul

                                            li
                                                span
                                                    i.icon-file-css
                                                    | angular-sharepoint.js
                                                | &nbsp;The AngularSharepoint library that performs all the REST interaction between SP and Angular.
                                            li
                                                span
                                                    i.icon-file-css
                                                    | dodconsent.js
                                                | &nbsp;Handles our mandatory DoD consent message and sets the cookie so SP doesn't freak out.
                                            li
                                                span
                                                    i.icon-file-css
                                                    | ftss-angular-filters.js
                                                | &nbsp;Custom Angular filters for use with ng-repeat collections.

                                            li
                                                span
                                                    i.icon-file-css
                                                    | ftss-filters.js
                                                | &nbsp;This handles our SP tag filtering; it converts from tags to SP lookups.

                                            li
                                                span
                                                    i.icon-file-css
                                                    | ftss-init.js
                                                | &nbsp;Performs the app JS initialization and establishes the Angular routes.

                                            li
                                                span
                                                    i.icon-file-css
                                                    | ftss-jquery-bindings.js
                                                | &nbsp;We use jquery live bindings because they just make more sense than directives in some cases.

                                            li
                                                span
                                                    i.icon-file-css
                                                    | ftss-models.js
                                                | &nbsp;Defines all our SP models for AngularSharepoint.

                                            li
                                                span
                                                    i.icon-file-css
                                                    | ftss-utils.js
                                                | &nbsp;Various helper functions used throughout the application

                                    li
                                        span
                                            i.icon-folder-open
                                            | styles
                                        | &nbsp;Holds all the CSS that does not belong to a specific view.

                                    li
                                        span
                                            i.icon-file-xml
                                            | index.jade
                                        | &nbsp;This converts to index.html and is our main landing page that starts the app.

                            li
                                span
                                    i.icon-folder-open
                                    | bower_components
                                | &nbsp;This holds all the managed library code (managed with Bower).

                            li
                                span
                                    i.icon-folder-open
                                    | docs
                                | &nbsp;This documentation source and compiled code.

                            li.muted
                                span
                                    i.icon-folder-open
                                    | node_modules
                                | &nbsp;These is all the NodeJS apps that are needed by Brunch.io to perform our builds and is not synced on Github.

                            li
                                span
                                    i.icon-folder-open
                                    | scripts
                                | &nbsp;Development environment scripts, we use server.* for development and production.* for production builds.

                            li
                                span
                                    i.icon-folder-open
                                    | test
                                | &nbsp;All AngularJS tests are here (for now)...

                            li
                                span
                                    i.icon-folder-open
                                    | vendor
                                | &nbsp;Any special or custom library code or other JS that must execute before anything else goes here.


                    br

            footer
                .row
                    .col-lg-12
                        a.pull-right(href='#top') Back to top

                        p
                              | Made by&nbsp;
                              a(href='http://www.linkedin.com/in/jeffsmccoy', rel='nofollow') Jeff McCoy
                              | . Contact him at&nbsp;
                              a(href='mailto:jeffrey.mccoy.2@us.af.mil') jeffrey.mccoy.2@us.af.mil
                              | .



