include ../images
p.

    The diagram below is a simple version of the SharePoint database schema.  FTSS uses a hybrid
    storage approach, partly standard SP (SQL) and partly JSON documents within the records.  Once
    the data is received, it is parsed and manipulated by our Angular app.

.text-center
    +img-erd()