include ../images

p.

    The icons below are links to the major technologies used within FTSS.  A tooltip should say a few
    words about the technology or how it is used in FTSS.  There are plenty of resources available
    online for getting started with each of these great technologies.

p.logos

    +img-angularjs()
    +img-bootstrap()
    +img-bower()
    +img-brunch()
    +img-css3()
    +img-html5()
    +img-github()
    +img-jquery()
    +img-lodash()
    +img-nodejs()
    +img-momentjs()
    +img-sharepoint()